### Hello Python

In [1]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

# 타이틀
## 타이틀
### 타이틀
#### list
1. list
2. list2
3. list3
    1. list3-1

In [5]:
x = 18
y = 10

print(x // y)
print(x % y)
print(x ** y)

1
8
3570467226624

In [8]:
x += 9

In [10]:
print(x == y, x != y)

False True

- tuple
    - 수정 불가능, 새로 만들어야 한다
    - 위치
- list
    - 수정, 제거, 추가 가능
    - 위치
- dictionary
    - key, value 쌍
    - key를 기준으로 데이터 생성

In [3]:
tuple = (10, "test")
tuple2 = (3, 3.13)
print(type(tuple))
print(tuple)
print(tuple2[0])

<class 'tuple'>
(10, 'test')
3

In [15]:
tuple3 = (tuple + tuple2) * 6
tuple3

(10,
 'test',
 3,
 3.13,
 10,
 'test',
 3,
 3.13,
 10,
 'test',
 3,
 3.13,
 10,
 'test',
 3,
 3.13,
 10,
 'test',
 3,
 3.13,
 10,
 'test',
 3,
 3.13)

In [18]:
tuple3[-3:]

('test', 3, 3.13)

In [21]:
list_a = [1,4,6,7,3,4]
list_b = list_a.sort()
list_c = list_a.sort(reverse=True)
# list_d = list_b.reverse()

print(list_a,list_b,list_c)

[7, 6, 4, 4, 3, 1] None None

In [27]:
st = "000907-1121112"

In [44]:
sample_data = [
    {
        "name": "test22",
        "pwd": "1234"
    },
    {
        "name": "test33",
        "pwd": "1234"
    },
    {
        "name": "test44",
        "pwd": "1234"
    }
]

In [34]:
sample_data[0]["name"]

'test22'

In [1]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(round(a/b,2))

13
7
30
3
1
3.33

In [10]:
for i in range(1, 10, 3):
    print(i, end='\t')

1	4	7

In [14]:
n = int(input())
s = input()

print(s * n)

10101010101010101010

In [16]:
a = float(input())
print(round(a,2))

3.14

In [22]:
a = 2
print(~a)

-3

In [31]:
li = list(map(int, input().split()))
for i in li:
    if i%2 == 0:
        print("even")
    else:
        print("odd")

odd
even
odd

In [32]:
i = 1
result = 0
while i < 11:
    result += i
    i += 1
print(result)

55

In [36]:
list_x = []
list_y = list()

for i in range(1,51):
    if i % 7 == 0:
        list_x.append(i)
    else:
        list_y.append(i)
        
print(list_x)
print(list_y)

[7, 14, 21, 28, 35, 42, 49]
[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50]

In [42]:
c = ord(input())
for i in range(97,c+1):
    print(chr(i), end=" ")

106
a b c d e f g h i j

In [47]:
name_list = []

for i in sample_data:
    name_list.append(i["name"])
    
print(name_list)

['test22', 'test33', 'test44']

In [58]:
n = int(input())

for i in range(1,n+1):
    first = i % 10
    if first == 0 or first % 3 != 0:
        print(i, end=' ')
    else:
        print('X', end=' ')

1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27

In [67]:
h, b, c, s = map(int, input().split())
print(round(h * b * c * s / 8 / 1024 / 1024, 1), "MB")

ValueError: not enough values to unpack (expected 4, got 1)

In [71]:
# 공백제거
str = " hello world "
str.strip()
str.lstrip()
str.rstrip()

' hello world'

In [91]:
# 끝부터 특정 문자 제거하기
cost = "$1.20$$"
cost = cost.strip("$")
float(cost)

1.2

In [93]:
cost2 = "10,000원"
cost2 = cost2.rstrip("원")
cost2 = cost2.replace(",","")
print(int(cost2))

10000

In [99]:
n = int(input())
call = list(map(int, input().split()))

li = [0] * (23 + 1)

for i in call:
    li[i] += 1

for i in li[1:23+1]:
    print(i, end=' ')

1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0

In [100]:
n = int(input())
k_list = list(map(int, input().split()))

min_k = 100001
for i in k_list:
    min_k = i if i < min_k else min_k

print(min_k)

2

In [118]:
sql = "select * from table"
sql2 = "SELECT * from table"

sql2.startswith("SELECT") # True
sql2.find("SELECT  ") # -1 <- -1은 false
sql2.find("SELECT") # 0 <- 인덱스가 나오면 true
sql2.find("select") # -1
sql2.startswith("select") # False

False

In [122]:
# 문자의 마지막이 특정한 문자와 같은가
file_path = ["../csv/test1.csv", "../csv/test2.xlsx", "../csv/test3.json", "../csv/test4.txt","../csv/test5.csv"]

for i in file_path:
    if i.endswith(".csv"):
        print(i)

../csv/test1.csv
../csv/test5.csv

In [131]:
# 문자열에서 처음부터 7번째 전까지의 문자를 추출
# 위에서 나온 결과인 문자열과 'select'가 같은가?

txt = "select"
print(sql.startswith(txt))
print(sql[:len(txt)] == txt)
print()

txt2 = ".csv"
print(file_path[0][-len(txt2):] == txt2)

True
True

True

In [179]:
dict_text = {
    "name" : ['test1', 'test2', 'test3'],
    "age" : [20, 30, 40]
}

li = []
# length = len(dict_text["name"])
# for i in range(length):
#     li.append({"name":dict_text["name"][i], "age":dict_text["age"][i]})

for i in dict_text:
    for j in range(len(dict_text[i])):
        if len(dict_text[i]) > len(li):
            li.append({})
        li[j][i] = dict_text[i][j]

print(li)

[{'name': 'test1', 'age': 20}, {'name': 'test2', 'age': 30}, {'name': 'test3', 'age': 40}]

### END