In [2]:
import pandas as pd

In [235]:
df = pd.read_csv("./data/csv/uriage.csv")
df.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [4]:
# 대문자, 공백
name_data = []
for name in df['item_name']:
    name_data.append(name.replace(" ","").upper())

In [5]:
# for문을 while문으로
i = 0
name_data2 = []
while True:
    if i >= len(name_data):
        break
    name_data2.append(df['item_name'][i].replace(" ","").upper());
    i += 1
print(name_data2, len(name_data2))

['상품A', '상품S', '상품A', '상품Z', '상품A', '상품S', '상품A', '상품V', '상품O', '상품A', '상품U', '상품L', '상품V', '상품O', '상품A', '상품C', '상품V', '상품I', '상품R', '상품X', '상품O', '상품G', '상품X', '상품R', '상품P', '상품Q', '상품Y', '상품P', '상품P', '상품R', '상품P', '상품A', '상품N', '상품R', '상품W', '상품A', '상품E', '상품K', '상품O', '상품W', '상품O', '상품K', '상품B', '상품F', '상품P', '상품X', '상품B', '상품S', '상품F', '상품X', '상품W', '상품N', '상품Q', '상품P', '상품I', '상품F', '상품D', '상품R', '상품M', '상품M', '상품Q', '상품A', '상품Y', '상품I', '상품U', '상품H', '상품P', '상품P', '상품T', '상품Y', '상품W', '상품M', '상품V', '상품D', '상품J', '상품O', '상품L', '상품F', '상품U', '상품N', '상품P', '상품S', '상품X', '상품O', '상품V', '상품K', '상품N', '상품I', '상품O', '상품R', '상품V', '상품Y', '상품E', '상품E', '상품H', '상품S', '상품W', '상품Y', '상품O', '상품F', '상품K', '상품B', '상품W', '상품Q', '상품Q', '상품N', '상품S', '상품M', '상품I', '상품T', '상품I', '상품H', '상품Y', '상품R', '상품C', '상품V', '상품T', '상품A', '상품T', '상품Q', '상품P', '상품W', '상품I', '상품T', '상품G', '상품N', '상품U', '상품S', '상품U', '상품M', '상품A', '상품P', '상품U', '상품X', '상품I', '상품U', '상품X', '상품L', '상품F', '상품G', '상품D', '상품X', '상품U', '상품N', '상품C', '상품W', '상품S', '상품U', '상품K', '상품G', '상품Q', '상품I', '상품L', '상품T', '상품P', '상품T', '상품V', '상품E', '상품P', '상품G', '상품L', '상품P', '상품M', '상품D', '상품O', '상품N', '상품X', '상품W', '상품J', '상품X', '상품R', '상품A', '상품W', '상품C', '상품O', '상품V', '상품U', '상품F', '상품K', '상품W', '상품E', '상품S', '상품N', '상품C', '상품I', '상품W', '상품D', '상품E', '상품V', '상품Y', '상품V', '상품X', '상품F', '상품F', '상품B', '상품C', '상품K', '상품M', '상품Y', '상품Q', '상품I', '상품G', '상품T', '상품D', '상품D', '상품Y', '상품E', '상품N', '상품F', '상품N', '상품A', '상품A', '상품B', '상품X', '상품Y', '상품S', '상품P', '상품V', '상품I', '상품O', '상품J', '상품J', '상품C', '상품A', '상품U', '상품J', '상품M', '상품F', '상품B', '상품N', '상품Q', '상품T', '상품L', '상품O', '상품A', '상품R', '상품R', '상품F', '상품Y', '상품R', '상품L', '상품B', '상품V', '상품P', '상품X', '상품B', '상품Q', '상품U', '상품W', '상품U', '상품C', '상품V', '상품Q', '상품N', '상품X', '상품P', '상품B', '상품C', '상품Q', '상품S', '상품E', '상품F', '상품F', '상품F', '상품E', '상품G', '상품U', '상품L', '상품U', '상품I', '상품F', '상품W', '상품K', '상품V', '상품A', '상품F', '상품L', '상품O', '상품S', '상품D', '상품V', '상품J', '상품E', '상품U', '상품W', '상품B', '상품J', '상품L', '상품W', '상품K', '상품B', '상품F', '상품B', '상품M', '상품C', '상품A', '상품N', '상품P', '상품C', '상품X', '상품A', '상품L', '상품K', '상품P', '상품S', '상품Q', '상품M', '상품R', '상품K', '상품X', '상품X', '상품H', '상품G', '상품G', '상품E', '상품O', '상품E', '상품R', '상품Y', '상품M', '상품P', '상품B', '상품E', '상품U', '상품V', '상품L', '상품T', '상품W', '상품V', '상품W', '상품B', '상품R', '상품V', '상품W', '상품M', '상품G', '상품G', '상품G', '상품G', '상품M', '상품F', '상품V', '상품W', '상품N', '상품J', '상품H', '상품A', '상품A', '상품F', '상품M', '상품G', '상품D', '상품I', '상품O', '상품W', '상품S', '상품Q', '상품C', '상품P', '상품I', '상품A', '상품A', '상품S', '상품A', '상품M', '상품D', '상품G', '상품G', '상품T', '상품E', '상품O', '상품T', '상품S', '상품T', '상품X', '상품V', '상품Q', '상품F', '상품H', '상품B', '상품B', '상품M', '상품I', '상품R', '상품L', '상품D', '상품K', '상품V', '상품K', '상품F', '상품B', '상품V', '상품T', '상품K', '상품J', '상품A', '상품O', '상품J', '상품H', '상품I', '상품S', '상품S', '상품E', '상품N', '상품O', '상품R', '상품Q', '상품E', '상품Y', '상품F', '상품D', '상품A', '상품R', '상품W', '상품P', '상품F', '상품Y', '상품C', '상품R', '상품Q', '상품V', '상품E', '상품F', '상품O', '상품V', '상품S', '상품M', '상품E', '상품J', '상품P', '상품F', '상품S', '상품T', '상품W', '상품W', '상품U', '상품L', '상품Q', '상품S', '상품Q', '상품Q', '상품D', '상품G', '상품U', '상품E', '상품S', '상품F', '상품B', '상품N', '상품F', '상품Y', '상품D', '상품X', '상품C', '상품S', '상품S', '상품L', '상품B', '상품D', '상품B', '상품M', '상품D', '상품J', '상품I', '상품J', '상품R', '상품C', '상품J', '상품D', '상품R', '상품O', '상품Q', '상품P', '상품A', '상품F', '상품D', '상품D', '상품K', '상품D', '상품C', '상품V', '상품M', '상품O', '상품M', '상품P', '상품A', '상품K', '상품N', '상품A', '상품X', '상품V', '상품E', '상품P', '상품H', '상품P', '상품X', '상품H', '상품A', '상품U', '상품K', '상품C', '상품R', '상품W', '상품E', '상품V', '상품C', '상품T', '상품D', '상품N', '상품W', '상품P', '상품U', '상품P', '상품N', '상품P', '상품E', '상품T', '상품W', '상품L', '상품C', '상품H', '상품O', '상품W', '상품D', '상품N', '상품N', '상품P', '상품K', '상품C', '상품F', '상품V', '상품U', '상품K', '상품H', '상품E', '상품F', '상품E', '상품C', '상품C', '상품G', '상품X', '상품J', '상품T', '상품H', '상품B', '상품R', '상품R', '상품V', '상품K', '상품I', '상품B', '상품B', '상품U', '상품I', '상품X', '상품S', '상품F', '상품V', '상품O', '상품S', '상품J', '상품X', '상품Q', '상품D', '상품V', '상품J', '상품H', '상품H', '상품A', '상품I', '상품L', '상품I', '상품R', '상품G', '상품V', '상품C', '상품E', '상품A', '상품U', '상품X', '상품N', '상품O', '상품K', '상품V', '상품V', '상품B', '상품M', '상품T', '상품Q', '상품U', '상품R', '상품F', '상품F', '상품R', '상품R', '상품G', '상품C', '상품C', '상품F', '상품T', '상품Y', '상품D', '상품A', '상품Y', '상품F', '상품F', '상품M', '상품B', '상품H', '상품I', '상품F', '상품O', '상품A', '상품Q', '상품D', '상품F', '상품G', '상품O', '상품S', '상품T', '상품D', '상품I', '상품P', '상품K', '상품R', '상품V', '상품D', '상품C', '상품B', '상품C', '상품D', '상품F', '상품R', '상품H', '상품A', '상품S', '상품X', '상품P', '상품I', '상품Y', '상품C', '상품B', '상품A', '상품V', '상품W', '상품G', '상품V', '상품C', '상품N', '상품L', '상품I', '상품R', '상품B', '상품W', '상품E', '상품R', '상품N', '상품G', '상품U', '상품N', '상품Y', '상품L', '상품W', '상품D', '상품O', '상품N', '상품J', '상품A', '상품H', '상품D', '상품K', '상품B', '상품C', '상품M', '상품T', '상품X', '상품V', '상품L', '상품A', '상품Y', '상품T', '상품N', '상품G', '상품M', '상품T', '상품F', '상품M', '상품M', '상품I', '상품Y', '상품G', '상품B', '상품U', '상품X', '상품F', '상품J', '상품A', '상품R', '상품V', '상품P', '상품A', '상품O', '상품Y', '상품R', '상품X', '상품R', '상품A', '상품Y', '상품Q', '상품V', '상품O', '상품O', '상품M', '상품G', '상품S', '상품K', '상품J', '상품O', '상품R', '상품Q', '상품M', '상품C', '상품W', '상품G', '상품C', '상품P', '상품N', '상품N', '상품A', '상품E', '상품V', '상품D', '상품U', '상품S', '상품N', '상품Y', '상품R', '상품N', '상품W', '상품J', '상품L', '상품D', '상품S', '상품Y', '상품W', '상품T', '상품L', '상품V', '상품R', '상품H', '상품E', '상품O', '상품E', '상품V', '상품Q', '상품H', '상품I', '상품M', '상품M', '상품X', '상품L', '상품F', '상품E', '상품S', '상품N', '상품I', '상품O', '상품F', '상품B', '상품N', '상품O', '상품P', '상품V', '상품L', '상품I', '상품N', '상품U', '상품J', '상품X', '상품E', '상품O', '상품D', '상품C', '상품K', '상품K', '상품R', '상품X', '상품S', '상품W', '상품U', '상품J', '상품C', '상품I', '상품Q', '상품E', '상품V', '상품D', '상품R', '상품F', '상품B', '상품K', '상품A', '상품T', '상품A', '상품U', '상품Y', '상품Q', '상품L', '상품R', '상품H', '상품S', '상품Q', '상품S', '상품W', '상품H', '상품G', '상품M', '상품A', '상품M', '상품M', '상품Q', '상품T', '상품X', '상품U', '상품O', '상품S', '상품E', '상품C', '상품C', '상품R', '상품J', '상품G', '상품L', '상품Y', '상품P', '상품O', '상품K', '상품C', '상품A', '상품N', '상품J', '상품N', '상품X', '상품U', '상품A', '상품J', '상품G', '상품S', '상품J', '상품Q', '상품X', '상품R', '상품C', '상품Y', '상품U', '상품L', '상품B', '상품Q', '상품R', '상품A', '상품P', '상품L', '상품L', '상품H', '상품D', '상품D', '상품R', '상품A', '상품S', '상품Y', '상품C', '상품V', '상품A', '상품N', '상품M', '상품E', '상품C', '상품A', '상품A', '상품N', '상품W', '상품X', '상품I', '상품L', '상품Y', '상품P', '상품D', '상품V', '상품O', '상품L', '상품B', '상품J', '상품S', '상품X', '상품D', '상품B', '상품K', '상품R', '상품V', '상품N', '상품A', '상품Q', '상품I', '상품P', '상품E', '상품B', '상품S', '상품Q', '상품O', '상품W', '상품D', '상품K', '상품J', '상품X', '상품J', '상품C', '상품V', '상품C', '상품D', '상품H', '상품O', '상품K', '상품U', '상품N', '상품E', '상품D', '상품Y', '상품B', '상품G', '상품X', '상품X', '상품B', '상품S', '상품T', '상품O', '상품W', '상품Q', '상품M', '상품Q', '상품O', '상품J', '상품B', '상품K', '상품S', '상품F', '상품C', '상품O', '상품S', '상품T', '상품H', '상품R', '상품P', '상품A', '상품U', '상품H', '상품J', '상품S', '상품A', '상품Q', '상품G', '상품P', '상품Q', '상품R', '상품X', '상품Y', '상품R', '상품P', '상품Q', '상품I', '상품D', '상품F', '상품X', '상품Y', '상품O', '상품D', '상품S', '상품O', '상품F', '상품S', '상품F', '상품G', '상품T', '상품J', '상품B', '상품O', '상품M', '상품O', '상품O', '상품F', '상품J', '상품V', '상품I', '상품S', '상품H', '상품C', '상품I', '상품B', '상품W', '상품J', '상품B', '상품N', '상품N', '상품V', '상품X', '상품R', '상품H', '상품U', '상품E', '상품L', '상품A', '상품F', '상품V', '상품E', '상품L', '상품K', '상품I', '상품C', '상품R', '상품F', '상품L', '상품X', '상품G', '상품I', '상품H', '상품P', '상품L', '상품X', '상품H', '상품C', '상품Y', '상품S', '상품X', '상품R', '상품B', '상품I', '상품J', '상품A', '상품P', '상품A', '상품H', '상품I', '상품K', '상품R', '상품F', '상품S', '상품R', '상품K', '상품C', '상품V', '상품U', '상품N', '상품G', '상품J', '상품A', '상품J', '상품L', '상품X', '상품F', '상품V', '상품T', '상품F', '상품F', '상품G', '상품X', '상품M', '상품I', '상품Q', '상품O', '상품E', '상품M', '상품O', '상품C', '상품R', '상품F', '상품N', '상품F', '상품W', '상품E', '상품L', '상품I', '상품V', '상품N', '상품E', '상품P', '상품N', '상품U', '상품Q', '상품K', '상품K', '상품U', '상품C', '상품S', '상품H', '상품J', '상품Q', '상품O', '상품N', '상품K', '상품I', '상품H', '상품B', '상품L', '상품L', '상품U', '상품B', '상품P', '상품L', '상품U', '상품S', '상품I', '상품I', '상품A', '상품C', '상품C', '상품H', '상품C', '상품H', '상품J', '상품K', '상품Q', '상품W', '상품U', '상품S', '상품T', '상품H', '상품F', '상품B', '상품N', '상품K', '상품S', '상품W', '상품L', '상품G', '상품R', '상품V', '상품P', '상품U', '상품J', '상품W', '상품W', '상품B', '상품Q', '상품I', '상품B', '상품O', '상품P', '상품H', '상품R', '상품O', '상품Q', '상품B', '상품R', '상품O', '상품J', '상품B', '상품E', '상품B', '상품C', '상품U', '상품Q', '상품A', '상품W', '상품V', '상품F', '상품X', '상품H', '상품Q', '상품Q', '상품S', '상품E', '상품T', '상품T', '상품B', '상품T', '상품N', '상품V', '상품K', '상품N', '상품V', '상품T', '상품F', '상품B', '상품O', '상품B', '상품B', '상품D', '상품O', '상품L', '상품C', '상품A', '상품S', '상품H', '상품L', '상품S', '상품V', '상품O', '상품P', '상품P', '상품V', '상품X', '상품C', '상품X', '상품C', '상품U', '상품T', '상품B', '상품C', '상품Q', '상품T', '상품B', '상품S', '상품F', '상품S', '상품S', '상품A', '상품M', '상품T', '상품A', '상품T', '상품W', '상품G', '상품V', '상품Y', '상품M', '상품J', '상품O', '상품P', '상품S', '상품A', '상품T', '상품M', '상품R', '상품I', '상품P', '상품B', '상품O', '상품M', '상품F', '상품B', '상품H', '상품Q', '상품U', '상품H', '상품Q', '상품T', '상품V', '상품G', '상품V', '상품E', '상품V', '상품X', '상품Q', '상품F', '상품L', '상품G', '상품I', '상품G', '상품Q', '상품Y', '상품T', '상품A', '상품P', '상품L', '상품T', '상품B', '상품T', '상품D', '상품L', '상품Q', '상품D', '상품H', '상품C', '상품O', '상품A', '상품P', '상품Q', '상품Q', '상품A', '상품X', '상품T', '상품J', '상품N', '상품V', '상품P', '상품R', '상품N', '상품C', '상품Q', '상품A', '상품W', '상품Q', '상품L', '상품J', '상품X', '상품C', '상품E', '상품H', '상품J', '상품O', '상품R', '상품F', '상품T', '상품M', '상품D', '상품N', '상품D', '상품C', '상품B', '상품C', '상품M', '상품W', '상품O', '상품B', '상품U', '상품T', '상품K', '상품U', '상품P', '상품T', '상품M', '상품A', '상품P', '상품P', '상품L', '상품P', '상품Q', '상품S', '상품O', '상품M', '상품N', '상품D', '상품K', '상품C', '상품I', '상품Q', '상품G', '상품V', '상품S', '상품D', '상품D', '상품A', '상품G', '상품M', '상품A', '상품A', '상품Q', '상품S', '상품H', '상품D', '상품M', '상품T', '상품G', '상품E', '상품K', '상품Y', '상품G', '상품C', '상품V', '상품G', '상품X', '상품K', '상품Y', '상품S', '상품C', '상품H', '상품B', '상품S', '상품W', '상품L', '상품V', '상품M', '상품R', '상품S', '상품O', '상품N', '상품G', '상품J', '상품M', '상품H', '상품Y', '상품G', '상품T', '상품T', '상품V', '상품J', '상품W', '상품Y', '상품T', '상품U', '상품P', '상품W', '상품S', '상품H', '상품R', '상품A', '상품H', '상품Q', '상품V', '상품A', '상품I', '상품G', '상품N', '상품T', '상품E', '상품L', '상품T', '상품L', '상품B', '상품J', '상품N', '상품D', '상품N', '상품V', '상품B', '상품Y', '상품D', '상품V', '상품T', '상품F', '상품N', '상품I', '상품I', '상품C', '상품W', '상품W', '상품H', '상품O', '상품P', '상품C', '상품J', '상품M', '상품Y', '상품O', '상품X', '상품Y', '상품M', '상품G', '상품N', '상품J', '상품Q', '상품D', '상품F', '상품C', '상품D', '상품P', '상품K', '상품W', '상품D', '상품R', '상품B', '상품P', '상품M', '상품T', '상품V', '상품A', '상품G', '상품C', '상품S', '상품N', '상품D', '상품S', '상품S', '상품I', '상품E', '상품I', '상품I', '상품V', '상품W', '상품E', '상품B', '상품S', '상품B', '상품X', '상품W', '상품A', '상품G', '상품U', '상품H', '상품P', '상품C', '상품X', '상품A', '상품W', '상품P', '상품C', '상품U', '상품V', '상품P', '상품K', '상품X', '상품F', '상품W', '상품Q', '상품X', '상품Q', '상품C', '상품I', '상품B', '상품A', '상품S', '상품A', '상품U', '상품K', '상품H', '상품L', '상품K', '상품W', '상품P', '상품Y', '상품U', '상품Q', '상품W', '상품I', '상품A', '상품V', '상품C', '상품S', '상품U', '상품N', '상품T', '상품F', '상품L', '상품J', '상품O', '상품T', '상품Y', '상품F', '상품K', '상품E', '상품R', '상품L', '상품M', '상품N', '상품O', '상품K', '상품J', '상품V', '상품E', '상품I', '상품I', '상품E', '상품E', '상품U', '상품K', '상품A', '상품P', '상품S', '상품J', '상품T', '상품X', '상품G', '상품S', '상품D', '상품I', '상품F', '상품K', '상품K', '상품F', '상품H', '상품M', '상품S', '상품G', '상품W', '상품O', '상품H', '상품L', '상품O', '상품J', '상품R', '상품H', '상품G', '상품Y', '상품W', '상품E', '상품G', '상품S', '상품A', '상품V', '상품V', '상품M', '상품R', '상품P', '상품C', '상품Y', '상품W', '상품S', '상품I', '상품G', '상품T', '상품C', '상품T', '상품Q', '상품S', '상품H', '상품I', '상품T', '상품S', '상품R', '상품Q', '상품M', '상품O', '상품B', '상품D', '상품Y', '상품N', '상품K', '상품R', '상품L', '상품C', '상품C', '상품X', '상품P', '상품E', '상품M', '상품X', '상품M', '상품V', '상품J', '상품X', '상품J', '상품K', '상품N', '상품Q', '상품O', '상품M', '상품V', '상품T', '상품S', '상품I', '상품K', '상품D', '상품D', '상품V', '상품X', '상품V', '상품T', '상품F', '상품P', '상품Y', '상품N', '상품E', '상품Q', '상품P', '상품F', '상품I', '상품T', '상품O', '상품X', '상품G', '상품P', '상품E', '상품S', '상품S', '상품E', '상품B', '상품O', '상품S', '상품I', '상품A', '상품L', '상품W', '상품L', '상품I', '상품M', '상품V', '상품F', '상품M', '상품U', '상품D', '상품D', '상품N', '상품G', '상품E', '상품F', '상품V', '상품E', '상품R', '상품E', '상품S', '상품Q', '상품X', '상품B', '상품Q', '상품N', '상품A', '상품K', '상품T', '상품S', '상품L', '상품S', '상품P', '상품J', '상품Y', '상품D', '상품C', '상품D', '상품D', '상품L', '상품B', '상품G', '상품V', '상품J', '상품L', '상품S', '상품R', '상품R', '상품M', '상품A', '상품A', '상품B', '상품U', '상품I', '상품K', '상품H', '상품I', '상품T', '상품W', '상품E', '상품Y', '상품K', '상품K', '상품A', '상품F', '상품J', '상품O', '상품X', '상품C', '상품V', '상품P', '상품M', '상품X', '상품H', '상품Y', '상품F', '상품X', '상품D', '상품N', '상품Y', '상품A', '상품K', '상품M', '상품C', '상품A', '상품D', '상품O', '상품J', '상품R', '상품I', '상품A', '상품M', '상품J', '상품S', '상품Q', '상품K', '상품N', '상품H', '상품P', '상품T', '상품Q', '상품C', '상품V', '상품A', '상품N', '상품X', '상품R', '상품N', '상품I', '상품F', '상품U', '상품G', '상품C', '상품G', '상품N', '상품T', '상품M', '상품R', '상품O', '상품D', '상품C', '상품E', '상품C', '상품P', '상품J', '상품C', '상품H', '상품W', '상품X', '상품B', '상품M', '상품X', '상품P', '상품Q', '상품V', '상품E', '상품N', '상품S', '상품I', '상품P', '상품C', '상품W', '상품F', '상품W', '상품Q', '상품E', '상품R', '상품G', '상품G', '상품X', '상품Q', '상품H', '상품V', '상품B', '상품I', '상품Y', '상품D', '상품U', '상품P', '상품K', '상품O', '상품N', '상품Q', '상품F', '상품Q', '상품U', '상품C', '상품J', '상품L', '상품I', '상품W', '상품L', '상품P', '상품V', '상품V', '상품M', '상품I', '상품A', '상품G', '상품D', '상품M', '상품M', '상품U', '상품I', '상품P', '상품M', '상품D', '상품W', '상품D', '상품U', '상품B', '상품R', '상품C', '상품D', '상품R', '상품P', '상품G', '상품W', '상품Q', '상품N', '상품W', '상품R', '상품B', '상품N', '상품D', '상품A', '상품E', '상품G', '상품H', '상품O', '상품H', '상품Q', '상품X', '상품T', '상품J', '상품T', '상품G', '상품Q', '상품Q', '상품R', '상품Y', '상품L', '상품F', '상품D', '상품Y', '상품U', '상품K', '상품M', '상품O', '상품V', '상품E', '상품K', '상품C', '상품N', '상품A', '상품K', '상품F', '상품T', '상품H', '상품I', '상품X', '상품J', '상품T', '상품E', '상품A', '상품Q', '상품O', '상품H', '상품L', '상품Y', '상품F', '상품M', '상품Q', '상품F', '상품D', '상품U', '상품E', '상품K', '상품Q', '상품P', '상품F', '상품I', '상품O', '상품N', '상품K', '상품T', '상품Q', '상품L', '상품M', '상품X', '상품J', '상품W', '상품H', '상품K', '상품J', '상품F', '상품N', '상품M', '상품D', '상품A', '상품E', '상품R', '상품K', '상품Q', '상품M', '상품U', '상품S', '상품X', '상품C', '상품C', '상품V', '상품S', '상품U', '상품V', '상품H', '상품L', '상품A', '상품K', '상품C', '상품Q', '상품R', '상품J', '상품Q', '상품S', '상품U', '상품H', '상품L', '상품I', '상품R', '상품X', '상품R', '상품J', '상품K', '상품P', '상품O', '상품W', '상품L', '상품B', '상품R', '상품A', '상품O', '상품J', '상품B', '상품P', '상품H', '상품H', '상품V', '상품O', '상품G', '상품I', '상품B', '상품F', '상품H', '상품G', '상품M', '상품P', '상품T', '상품O', '상품C', '상품H', '상품U', '상품B', '상품S', '상품W', '상품A', '상품W', '상품L', '상품M', '상품W', '상품I', '상품I', '상품Y', '상품L', '상품W', '상품E', '상품T', '상품P', '상품A', '상품H', '상품I', '상품W', '상품N', '상품T', '상품G', '상품R', '상품M', '상품C', '상품W', '상품R', '상품L', '상품O', '상품M', '상품F', '상품X', '상품L', '상품G', '상품E', '상품U', '상품R', '상품B', '상품C', '상품A', '상품U', '상품U', '상품J', '상품K', '상품P', '상품Q', '상품K', '상품M', '상품J', '상품U', '상품S', '상품X', '상품V', '상품F', '상품E', '상품P', '상품T', '상품X', '상품L', '상품A', '상품L', '상품Y', '상품M', '상품A', '상품X', '상품S', '상품K', '상품G', '상품D', '상품E', '상품B', '상품R', '상품T', '상품D', '상품R', '상품O', '상품R', '상품G', '상품F', '상품I', '상품R', '상품U', '상품L', '상품G', '상품R', '상품J', '상품B', '상품Q', '상품V', '상품Y', '상품Y', '상품D', '상품J', '상품H', '상품K', '상품H', '상품G', '상품G', '상품O', '상품K', '상품Y', '상품U', '상품G', '상품G', '상품K', '상품R', '상품J', '상품S', '상품R', '상품V', '상품S', '상품W', '상품F', '상품S', '상품G', '상품O', '상품O', '상품G', '상품U', '상품D', '상품H', '상품T', '상품U', '상품Y', '상품C', '상품O', '상품A', '상품F', '상품U', '상품J', '상품D', '상품W', '상품U', '상품M', '상품T', '상품M', '상품U', '상품I', '상품E', '상품Y', '상품W', '상품U', '상품J', '상품R', '상품D', '상품F', '상품G', '상품K', '상품G', '상품G', '상품J', '상품N', '상품W', '상품G', '상품J', '상품T', '상품L', '상품E', '상품G', '상품Y', '상품I', '상품N', '상품M', '상품A', '상품W', '상품Q', '상품U', '상품P', '상품X', '상품E', '상품F', '상품A', '상품F', '상품N', '상품P', '상품P', '상품J', '상품V', '상품F', '상품T', '상품C', '상품E', '상품R', '상품J', '상품K', '상품P', '상품V', '상품H', '상품G', '상품P', '상품J', '상품L', '상품C', '상품D', '상품H', '상품B', '상품M', '상품S', '상품J', '상품U', '상품H', '상품Q', '상품W', '상품B', '상품U', '상품W', '상품U', '상품T', '상품I', '상품Q', '상품D', '상품J', '상품J', '상품E', '상품Y', '상품Q', '상품P', '상품Q', '상품R', '상품U', '상품V', '상품W', '상품I', '상품H', '상품K', '상품R', '상품X', '상품S', '상품X', '상품J', '상품T', '상품S', '상품Y', '상품T', '상품R', '상품C', '상품H', '상품V', '상품R', '상품V', '상품H', '상품J', '상품H', '상품L', '상품D', '상품Q', '상품R', '상품R', '상품N', '상품F', '상품W', '상품H', '상품M', '상품U', '상품A', '상품R', '상품G', '상품F', '상품T', '상품K', '상품X', '상품S', '상품F', '상품D', '상품D', '상품A', '상품B', '상품B', '상품O', '상품W', '상품L', '상품E', '상품P', '상품E', '상품X', '상품T', '상품K', '상품X', '상품A', '상품Y', '상품C', '상품X', '상품I', '상품S', '상품S', '상품D', '상품Q', '상품Q', '상품K', '상품M', '상품T', '상품C', '상품C', '상품C', '상품W', '상품L', '상품I', '상품A', '상품T', '상품C', '상품W', '상품C', '상품J', '상품U', '상품P', '상품X', '상품R', '상품F', '상품K', '상품O', '상품M', '상품J', '상품T', '상품I', '상품W', '상품W', '상품B', '상품U', '상품W', '상품N', '상품G', '상품C', '상품E', '상품G', '상품B', '상품I', '상품P', '상품O', '상품M', '상품C', '상품B', '상품O', '상품N', '상품W', '상품R', '상품H', '상품W', '상품C', '상품E', '상품X', '상품B', '상품U', '상품F', '상품V', '상품S', '상품U', '상품S', '상품S', '상품D', '상품T', '상품G', '상품Q', '상품A', '상품F', '상품L', '상품S', '상품M', '상품X', '상품X', '상품B', '상품F', '상품D', '상품E', '상품S', '상품F', '상품Y', '상품V', '상품U', '상품W', '상품J', '상품J', '상품L', '상품O', '상품I', '상품K', '상품E', '상품J', '상품Y', '상품Q', '상품M', '상품N', '상품C', '상품V', '상품D', '상품A', '상품R', '상품N', '상품A', '상품C', '상품O', '상품L', '상품M', '상품C', '상품O', '상품S', '상품A', '상품F', '상품P', '상품B', '상품O', '상품S', '상품M', '상품R', '상품V', '상품S', '상품O', '상품U', '상품R', '상품E', '상품N', '상품F', '상품L', '상품P', '상품S', '상품D', '상품W', '상품B', '상품F', '상품O', '상품F', '상품C', '상품P', '상품Y', '상품I', '상품D', '상품B', '상품T', '상품D', '상품H', '상품S', '상품G', '상품A', '상품V', '상품E', '상품K', '상품D', '상품L', '상품K', '상품P', '상품V', '상품R', '상품Y', '상품J', '상품L', '상품Y', '상품I', '상품Y', '상품T', '상품T', '상품T', '상품M', '상품P', '상품Y', '상품J', '상품P', '상품R', '상품G', '상품F', '상품S', '상품L', '상품C', '상품C', '상품S', '상품N', '상품A', '상품R', '상품M', '상품V', '상품X', '상품Y', '상품Q', '상품N', '상품X', '상품Y', '상품E', '상품W', '상품N', '상품V', '상품I', '상품H', '상품Y', '상품R', '상품T', '상품T', '상품P', '상품R', '상품Y', '상품Y', '상품S', '상품S', '상품B', '상품V', '상품P', '상품A', '상품T', '상품W', '상품J', '상품X', '상품P', '상품I', '상품X', '상품P', '상품D', '상품J', '상품A', '상품S', '상품Q', '상품J', '상품F', '상품F', '상품P', '상품N', '상품P', '상품D', '상품R', '상품W', '상품I', '상품I', '상품A', '상품M', '상품W', '상품U', '상품T', '상품A', '상품Q', '상품S', '상품Y', '상품Y', '상품K', '상품Q', '상품R', '상품J', '상품O', '상품C', '상품P', '상품D', '상품F', '상품U', '상품H', '상품W', '상품R', '상품H', '상품J', '상품H', '상품R', '상품N', '상품F', '상품V', '상품M', '상품O', '상품N', '상품T', '상품S', '상품N', '상품O', '상품X', '상품F', '상품I', '상품R', '상품T', '상품H', '상품D', '상품T', '상품V', '상품D', '상품B', '상품O', '상품R', '상품Q', '상품J', '상품U', '상품G', '상품L', '상품T', '상품V', '상품P', '상품H', '상품E', '상품X', '상품H', '상품D', '상품W', '상품L', '상품N', '상품P', '상품S', '상품S', '상품C', '상품L', '상품E', '상품E', '상품I', '상품P', '상품U', '상품P', '상품E', '상품T', '상품L', '상품A', '상품W', '상품R', '상품K', '상품P', '상품O', '상품T', '상품B', '상품X', '상품R', '상품M', '상품A', '상품P', '상품T', '상품R', '상품D', '상품P', '상품U', '상품E', '상품W', '상품V', '상품S', '상품V', '상품E', '상품L', '상품C', '상품U', '상품W', '상품E', '상품O', '상품B', '상품I', '상품P', '상품H', '상품B', '상품I', '상품S', '상품Y', '상품A', '상품J', '상품R', '상품R', '상품X', '상품P', '상품W', '상품P', '상품P', '상품G', '상품T', '상품G', '상품X', '상품N', '상품S', '상품B', '상품Y', '상품J', '상품V', '상품Q', '상품E', '상품O', '상품J', '상품H', '상품T', '상품I', '상품W', '상품D', '상품P', '상품X', '상품K', '상품K', '상품V', '상품A', '상품W', '상품K', '상품O', '상품F', '상품I', '상품L', '상품W', '상품R', '상품E', '상품Y', '상품I', '상품U', '상품A', '상품M', '상품L', '상품D', '상품C', '상품L', '상품D', '상품N', '상품G', '상품W', '상품P', '상품Q', '상품S', '상품G', '상품N', '상품X', '상품N', '상품N', '상품F', '상품L', '상품N', '상품G', '상품G', '상품E', '상품P', '상품O', '상품T', '상품K', '상품P', '상품C', '상품C', '상품V', '상품D', '상품R', '상품K', '상품X', '상품X', '상품K', '상품O', '상품H', '상품Q', '상품W', '상품K', '상품L', '상품C', '상품V', '상품Y', '상품X', '상품M', '상품L', '상품A', '상품T', '상품M', '상품Y', '상품V', '상품I', '상품I', '상품G', '상품Y', '상품Y', '상품M', '상품A', '상품I', '상품K', '상품T', '상품D', '상품D', '상품G', '상품X', '상품L', '상품U', '상품A', '상품R', '상품B', '상품F', '상품M', '상품F', '상품B', '상품E', '상품J', '상품P', '상품J', '상품A', '상품J', '상품J', '상품O', '상품U', '상품F', '상품D', '상품E', '상품G', '상품N', '상품H', '상품T', '상품Q', '상품U', '상품V', '상품H', '상품K', '상품P', '상품A', '상품H', '상품H', '상품Q', '상품E', '상품Y', '상품V', '상품L', '상품Q', '상품W', '상품W', '상품N', '상품S', '상품S', '상품V', '상품T', '상품H', '상품Q', '상품M', '상품I', '상품S', '상품D', '상품G', '상품S', '상품C', '상품E', '상품D', '상품I', '상품N', '상품U', '상품E', '상품K', '상품J', '상품Q', '상품S', '상품N', '상품C', '상품X', '상품L', '상품A', '상품Q', '상품H', '상품D', '상품H', '상품D', '상품L', '상품V', '상품K', '상품R', '상품J', '상품K', '상품F', '상품L', '상품B', '상품B', '상품O', '상품T', '상품Y', '상품D', '상품L', '상품R', '상품R', '상품R', '상품U', '상품R', '상품H', '상품V', '상품A', '상품S', '상품Q', '상품N', '상품X', '상품P', '상품X', '상품S', 

In [6]:
print(len(name_data))
print(len(df['item_name']))

2999
2999

In [7]:
# 결측치
df['item_name'].isnull().sum() # 없음

0

In [8]:
# 반복문 대신 간단한 버전
df2 = df.copy()
df2['item_name'] = df2['item_name'].str.upper().str.replace(" ","")
df2.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05       상품S         NaN           김우찬
2  2019-05-11 19:42       상품A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [ ]:
df2['item_name'].unique() # 중복값 확인

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [10]:
_list = ['a','a','b','c','c','d']
def unique_list(list):
    result = []
    for item in list:
        if item not in result:
            result.append(item)
    return result;

unique_list(_list)

['a', 'b', 'c', 'd']

In [12]:
ul = unique_list(df2['item_name'])

In [ ]:
sorted(ul)

In [ ]:
# 매개변수 list를 그대로 사용하면 저장하지 않아도 바뀐다
def replace_list(list, a, b):
    for i in range(len(list)):
        list[i] = b if list[i] == a else list[i]

In [ ]:
replace_list(_list,"a","abcde")
_list

['abcde', 'abcde', 'b', 'c', 'c', 'd']

In [ ]:
# def replace_string(_str, a, b):
#     result = ""
#     length = len(_str) - len(a) + 1
#     i = 0
#     while i < len(_str):
#         for j in range(len(a)):
#             if _str[i+j] == a[j]:
#                 if j == len(a) - 1:
#                     result += b
#                     i += len(a)
#                 continue
#             else:
#                 result += _str[i]
#                 i += 1
#                 break
        
#     return result

def replace_string(_str, a, b):
    result = ""
    i = 0
    while i < len(_str):        
        if _str[i:i+len(a)] == a:
            result += b
            i += len(a)
        else:
            result += _str[i]
            i+=1

    return result

replace_string("안녕하세요안녕하세요", "안녕", "하이")

'하이하세요하이하세요'

In [ ]:
def replace_object(value, a, b):
    result = ""
    if type(value) == str:
        i = 0
        while i < len(value):        
            if value[i:i+len(a)] == a:
                result += b
                i += len(a)
            else:
                result += value[i]
                i+=1
    else:
        for i in range(len(value)):
            result.append(b if value[i] == a else value[i])
            
    return result

In [236]:
df['item_name'] = df['item_name'].str.upper().str.replace(" ","")

In [205]:
df

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [140]:
name_a = df['item_name'] == '상품A'
price_null = df['item_price'].isna()

# df.loc[name_a & price_null, ['item_name', 'item_price']].describe().loc['mean','item_price']
price_mean = df.loc[name_a & ~price_null, 'item_price'].mean()

In [148]:
# df.loc[name_a & price_null,'item_price'] = df.loc[name_a & price_null,'item_price'].fillna(price_mean)
df.loc[name_a & price_null,'item_price'] = price_mean

In [153]:
df.loc[name_a, 'item_price'].describe()

count    139.0
mean     100.0
std        0.0
min      100.0
25%      100.0
50%      100.0
75%      100.0
max      100.0
Name: item_price, dtype: float64

In [206]:
all_item = df['item_name'].unique()
all_item.sort()
all_item

array(['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I',
       '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R',
       '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z'],
      dtype=object)

In [ ]:
price_null = df['item_price'].isna()

for item in all_item:
    name_a = df['item_name'] == item

    price_mean = df.loc[name_a & ~price_null, 'item_price'].mean()
    
    df.loc[name_a & price_null,'item_price'] = price_mean

In [165]:
df.isna().sum()

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [248]:
price_dict = df[['item_name', 'item_price']].groupby(['item_name']).mean()
price_dict.loc['상품A']

item_price    100.0
Name: 상품A, dtype: float64

In [244]:
df = pd.read_csv("./data/csv/uriage.csv")
df.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [245]:
df['item_name'] = df['item_name'].str.upper().str.replace(" ","")
all_item = df['item_name'].unique()
price_dict = df[['item_name', 'item_price']].groupby(['item_name']).mean()
price_null = df['item_price'].isna()
for item in all_item:
    name_a = df['item_name'] == item
    price_mean = price_dict.loc[item]
    df.loc[name_a & price_null,'item_price'] = price_mean

In [246]:
df

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]