In [8]:
# test

In [9]:
import momentum2 as mmt

In [18]:
import importlib
importlib.reload(mmt)

In [11]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
stock_df, month_last_df = mmt.dfs_load()

In [17]:
stock_df, month_last_df

(            Adj Close   STD-YM  1m_rtn  CODE
 Date
 2010-01-04  26.782711  2010-01       0  AAPL
 2010-01-05  26.829010  2010-01       0  AAPL
 2010-01-06  26.402260  2010-01       0  AAPL
 2010-01-07  26.353460  2010-01       0  AAPL
 2010-01-08  26.528664  2010-01       0  AAPL
 ...               ...      ...     ...   ...
 2019-06-18  50.540001  2019-06       0   USM
 2019-06-19  50.040001  2019-06       0   USM
 2019-06-20  49.320000  2019-06       0   USM
 2019-06-21  48.330002  2019-06       0   USM
 2019-06-24  47.750000  2019-06       0   USM

 [23618 rows x 4 columns],
             CODE    1m_rtn
 Date
 2010-01-29  AAPL  1.114287
 2010-02-26  AAPL  0.951666
 2010-03-31  AAPL  0.889319
 2010-04-30  AAPL  0.903788
 2010-05-28  AAPL  1.036865
 ...          ...       ...
 2019-02-28   USM  1.222960
 2019-03-29   USM  1.025702
 2019-04-30   USM  0.965281
 2019-05-31   USM  1.118485
 2019-06-24   USM  0.919372

 [1130 rows x 2 columns])

In [19]:
sig_dict, stock_code = mmt.create_position(month_last_df)

In [20]:
sig_dict, stock_code

({Timestamp('2010-01-29 00:00:00'): ['GDX'],
  Timestamp('2010-02-26 00:00:00'): ['SLV'],
  Timestamp('2010-03-31 00:00:00'): ['GDX'],
  Timestamp('2010-04-30 00:00:00'): ['USM'],
  Timestamp('2010-05-28 00:00:00'): ['MSFT'],
  Timestamp('2010-06-30 00:00:00'): ['AMZN'],
  Timestamp('2010-07-30 00:00:00'): ['GDX'],
  Timestamp('2010-08-31 00:00:00'): ['USM'],
  Timestamp('2010-09-30 00:00:00'): ['BND'],
  Timestamp('2010-10-29 00:00:00'): ['BND'],
  Timestamp('2010-11-30 00:00:00'): ['MSFT'],
  Timestamp('2010-12-31 00:00:00'): ['BND'],
  Timestamp('2011-01-31 00:00:00'): ['GDX'],
  Timestamp('2011-02-28 00:00:00'): ['GM'],
  Timestamp('2011-03-31 00:00:00'): ['GM'],
  Timestamp('2011-04-29 00:00:00'): ['USM'],
  Timestamp('2011-05-31 00:00:00'): ['SLV'],
  Timestamp('2011-06-30 00:00:00'): ['SLV'],
  Timestamp('2011-07-29 00:00:00'): ['USM'],
  Timestamp('2011-08-31 00:00:00'): ['GM'],
  Timestamp('2011-09-30 00:00:00'): ['SLV'],
  Timestamp('2011-10-31 00:00:00'): ['BND'],
  Timestamp('2011-11-30 00:00:00'): ['AMZN'],
  Timestamp('2011-12-30 00:00:00'): ['SLV'],
  Timestamp('2012-01-31 00:00:00'): ['BND'],
  Timestamp('2012-02-29 00:00:00'): ['USM'],
  Timestamp('2012-03-30 00:00:00'): ['GDX'],
  Timestamp('2012-04-30 00:00:00'): ['GM'],
  Timestamp('2012-05-31 00:00:00'): ['SLV'],
  Timestamp('2012-06-29 00:00:00'): ['GM'],
  Timestamp('2012-07-31 00:00:00'): ['GDX'],
  Timestamp('2012-08-31 00:00:00'): ['USM'],
  Timestamp('2012-09-28 00:00:00'): ['MSFT'],
  Timestamp('2012-10-31 00:00:00'): ['AAPL'],
  Timestamp('2012-11-30 00:00:00'): ['MSFT'],
  Timestamp('2012-12-31 00:00:00'): ['SLV'],
  Timestamp('2013-01-31 00:00:00'): ['AAPL'],
  Timestamp('2013-02-28 00:00:00'): ['GDX'],
  Timestamp('2013-03-28 00:00:00'): ['USM'],
  Timestamp('2013-04-30 00:00:00'): ['GDX'],
  Timestamp('2013-05-31 00:00:00'): ['SLV'],
  Timestamp('2013-06-28 00:00:00'): ['GDX'],
  Timestamp('2013-07-31 00:00:00'): ['MSFT'],
  Timestamp('2013-08-30 00:00:00'): ['AMZN'],
  Timestamp('2013-09-30 00:00:00'): ['GDX'],
  Timestamp('2013-10-31 00:00:00'): ['BND'],
  Timestamp('2013-11-29 00:00:00'): ['SLV'],
  Timestamp('2013-12-31 00:00:00'): ['USM'],
  Timestamp('2014-01-31 00:00:00'): ['GM'],
  Timestamp('2014-02-28 00:00:00'): ['USM'],
  Timestamp('2014-03-31 00:00:00'): ['GDX'],
  Timestamp('2014-04-30 00:00:00'): ['AMZN'],
  Timestamp('2014-05-30 00:00:00'): ['GDX'],
  Timestamp('2014-06-30 00:00:00'): ['USM'],
  Timestamp('2014-07-31 00:00:00'): ['GM'],
  Timestamp('2014-08-29 00:00:00'): ['SLV'],
  Timestamp('2014-09-30 00:00:00'): ['GDX'],
  Timestamp('2014-10-31 00:00:00'): ['GDX'],
  Timestamp('2014-11-28 00:00:00'): ['SLV'],
  Timestamp('2014-12-31 00:00:00'): ['GDX'],
  Timestamp('2015-01-30 00:00:00'): ['MSFT'],
  Timestamp('2015-02-27 00:00:00'): ['GDX'],
  Timestamp('2015-03-31 00:00:00'): ['GDX'],
  Timestamp('2015-04-30 00:00:00'): ['SLV'],
  Timestamp('2015-05-29 00:00:00'): ['GDX'],
  Timestamp('2015-06-30 00:00:00'): ['GDX'],
  Timestamp('2015-07-31 00:00:00'): ['GDX'],
  Timestamp('2015-08-31 00:00:00'): ['GM'],
  Timestamp('2015-09-30 00:00:00'): ['GLD'],
  Timestamp('2015-10-30 00:00:00'): ['BND'],
  Timestamp('2015-11-30 00:00:00'): ['SLV'],
  Timestamp('2015-12-31 00:00:00'): ['AAPL'],
  Timestamp('2016-01-29 00:00:00'): ['GM'],
  Timestamp('2016-02-29 00:00:00'): ['MSFT'],
  Timestamp('2016-03-31 00:00:00'): ['GLD'],
  Timestamp('2016-04-29 00:00:00'): ['AAPL'],
  Timestamp('2016-05-31 00:00:00'): ['USM'],
  Timestamp('2016-06-30 00:00:00'): ['GM'],
  Timestamp('2016-07-29 00:00:00'): ['BND'],
  Timestamp('2016-08-31 00:00:00'): ['GDX'],
  Timestamp('2016-09-30 00:00:00'): ['USM'],
  Timestamp('2016-10-31 00:00:00'): ['AMZN'],
  Timestamp('2016-11-30 00:00:00'): ['GDX'],
  Timestamp('2016-12-30 00:00:00'): ['SLV'],
  Timestamp('2017-01-31 00:00:00'): ['USM'],
  Timestamp('2017-02-28 00:00:00'): ['USM'],
  Timestamp('2017-03-31 00:00:00'): ['GM'],
  Timestamp('2017-04-28 00:00:00'): ['SLV'],
  Timestamp('2017-05-31 00:00:00'): ['GM'],
  Timestamp('2017-06-30 00:00:00'): ['AAPL'],
  Timestamp('2017-07-31 00:00:00'): ['USM'],
  Timestamp('2017-08-31 00:00:00'): ['AMZN'],
  Timestamp('2017-09-29 00:00:00'): ['USM'],
  Timestamp('2017-10-31 00:00:00'): ['GDX'],
  Timestamp('2017-11-30 00:00:00'): ['SLV'],
  Timestamp('2017-12-29 00:00:00'): ['GM'],
  Timestamp('2018-01-31 00:00:00'): ['AAPL'],
  Timestamp('2018-02-28 00:00:00'): ['GDX'],
  Timestamp('2018-03-29 00:00:00'): ['AAPL'],
  Timestamp('2018-04-30 00:00:00'): ['GLD'],
  Timestamp('2018-05-31 00:00:00'): ['GLD'],
  Timestamp('2018-06-29 00:00:00'): ['GM'],
  Timestamp('2018-07-31 00:00:00'): ['USM'],
  Timestamp('2018-08-31 00:00:00'): ['GDX'],
  Timestamp('2018-09-28 00:00:00'): ['GM'],
  Timestamp('2018-10-31 00:00:00'): ['AMZN'],
  Timestamp('2018-11-30 00:00:00'): ['AAPL'],
  Timestamp('2018-12-31 00:00:00'): ['AMZN'],
  Timestamp('2019-01-31 00:00:00'): ['BND'],
  Timestamp('2019-02-28 00:00:00'): ['USM'],
  Timestamp('2019-03-29 00:00:00'): ['GM'],
  Timestamp('2019-04-30 00:00:00'): ['GDX'],
  Timestamp('2019-05-31 00:00:00'): ['AAPL'],
  Timestamp('2019-06-24 00:00:00'): ['BND']},
 ['AAPL', 'AMZN', 'BND', 'GDX', 'GLD', 'GM', 'MSFT', 'SLV', 'SPY', 'USM'])

In [21]:
book1 = mmt.create_trade_book(stock_df, stock_code, sig_dict)

In [22]:
book1

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM,...,p_GM,r_GM,p_MSFT,r_MSFT,p_SLV,r_SLV,p_SPY,r_SPY,p_USM,r_USM
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,44.908779,109.800003,NaN,24.525019,17.230000,93.675278,36.015179,...,,,,,,,,,,
2010-01-05,26.829010,134.690002,60.789135,45.341774,109.699997,NaN,24.532942,17.510000,93.923241,35.998024,...,,,,,,,,,,
2010-01-06,26.402260,132.250000,60.766037,46.443077,111.510002,NaN,24.382378,17.860001,93.989357,35.680672,...,,,,,,,,,,
2010-01-07,26.353460,130.000000,60.719822,46.217175,110.820000,NaN,24.128809,17.889999,94.386139,35.208931,...,,,,,,,,,,
2010-01-08,26.528664,133.520004,60.781410,46.913723,111.370003,NaN,24.295214,18.150000,94.700218,34.651424,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-18,198.449997,1901.369995,82.397118,23.670000,127.120003,36.700001,135.160004,14.050000,290.984741,50.540001,...,,,,,,,,,,
2019-06-19,197.869995,1908.790039,82.676468,24.000000,127.889999,36.779999,135.690002,14.170000,291.641541,50.040001,...,,,,,,,,,,
2019-06-20,199.460007,1918.189941,82.806168,25.049999,131.110001,36.959999,136.949997,14.450000,294.427979,49.320000,...,,,,,,,,,,
2019-06-21,198.779999,1911.300049,82.576698,25.209999,131.979996,36.919998,136.970001,14.360000,294.000000,48.330002,...,,,,,,,,,,
2019-06-24,199.169998,1907.953857,82.726349,25.703501,133.501907,36.814999,138.289993,14.432900,293.640015,47.750000,...,,,,,,,,,,

In [23]:
book2 = mmt.create_trading(book1, stock_code)

In [24]:
book2

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM,...,p_GM,r_GM,p_MSFT,r_MSFT,p_SLV,r_SLV,p_SPY,r_SPY,p_USM,r_USM
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,44.908779,109.800003,NaN,24.525019,17.230000,93.675278,36.015179,...,,,,,,,,,,
2010-01-05,26.829010,134.690002,60.789135,45.341774,109.699997,NaN,24.532942,17.510000,93.923241,35.998024,...,,,,,,,,,,
2010-01-06,26.402260,132.250000,60.766037,46.443077,111.510002,NaN,24.382378,17.860001,93.989357,35.680672,...,,,,,,,,,,
2010-01-07,26.353460,130.000000,60.719822,46.217175,110.820000,NaN,24.128809,17.889999,94.386139,35.208931,...,,,,,,,,,,
2010-01-08,26.528664,133.520004,60.781410,46.913723,111.370003,NaN,24.295214,18.150000,94.700218,34.651424,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-18,198.449997,1901.369995,82.397118,23.670000,127.120003,36.700001,135.160004,14.050000,290.984741,50.540001,...,,,,,,,,,,
2019-06-19,197.869995,1908.790039,82.676468,24.000000,127.889999,36.779999,135.690002,14.170000,291.641541,50.040001,...,,,,,,,,,,
2019-06-20,199.460007,1918.189941,82.806168,25.049999,131.110001,36.959999,136.949997,14.450000,294.427979,49.320000,...,,,,,,,,,,
2019-06-21,198.779999,1911.300049,82.576698,25.209999,131.979996,36.919998,136.970001,14.360000,294.000000,48.330002,...,,,,,,,,,,
2019-06-24,199.169998,1907.953857,82.726349,25.703501,133.501907,36.814999,138.289993,14.432900,293.640015,47.750000,...,,,,,,,,,,

In [25]:
book3 = mmt.multi_returns(book2, stock_code)

매수일 : 2010-02-01 00:00:00, 종목코드 : GDX, 매수가 : 40.418842
매도일 : 2010-03-01 00:00:00, 종목코드 : GDX, 매도가 : 42.019035, 수익률 : 1.0395902732690858
매수일 : 2010-03-01 00:00:00, 종목코드 : SLV, 매수가 : 16.110001
매수일 : 2010-04-01 00:00:00, 종목코드 : GDX, 매수가 : 43.675705
매도일 : 2010-04-01 00:00:00, 종목코드 : SLV, 매도가 : 17.540001, 수익률 : 1.088764736886112
매도일 : 2010-05-03 00:00:00, 종목코드 : GDX, 매도가 : 46.951374, 수익률 : 1.074999796797785
매수일 : 2010-05-03 00:00:00, 종목코드 : USM, 매수가 : 36.744232
매수일 : 2010-06-01 00:00:00, 종목코드 : MSFT, 매수가 : 20.70437
매도일 : 2010-06-01 00:00:00, 종목코드 : USM, 매도가 : 35.003082, 수익률 : 0.9526143314139754
매수일 : 2010-07-01 00:00:00, 종목코드 : AMZN, 매수가 : 110.959999
매도일 : 2010-07-01 00:00:00, 종목코드 : MSFT, 매도가 : 18.521185, 수익률 : 0.8945543863445252
매도일 : 2010-08-02 00:00:00, 종목코드 : AMZN, 매도가 : 120.07, 수익률 : 1.0821016680074051
매수일 : 2010-08-02 00:00:00, 종목코드 : GDX, 매수가 : 45.228813
매도일 : 2010-09-01 00:00:00, 종목코드 : GDX, 매도가 : 49.746994, 수익률 : 1.0998960773080646
매수일 : 2010-09-01 00:00:00, 종목코드 : USM, 매수가 : 36.667038
매수일 : 2010-10-01 00:00:00, 종목코드 : BND, 매수가 : 65.143127
매도일 : 2010-10-01 00:00:00, 종목코드 : USM, 매도가 : 39.548939, 수익률 : 1.0785965040317682
매도일 : 2010-12-01 00:00:00, 종목코드 : BND, 매도가 : 64.560814, 수익률 : 0.9910610216792324
매수일 : 2010-12-01 00:00:00, 종목코드 : MSFT, 매수가 : 21.064047
매수일 : 2011-01-03 00:00:00, 종목코드 : BND, 매수가 : 64.215347
매도일 : 2011-01-03 00:00:00, 종목코드 : MSFT, 매도가 : 22.633337, 수익률 : 1.0745008782025602
매도일 : 2011-02-01 00:00:00, 종목코드 : BND, 매도가 : 64.227013, 수익률 : 1.0001816699674613
매수일 : 2011-02-01 00:00:00, 종목코드 : GDX, 매수가 : 52.536987
매도일 : 2011-03-01 00:00:00, 종목코드 : GDX, 매도가 : 57.616322, 수익률 : 1.096681124861614
매수일 : 2011-03-01 00:00:00, 종목코드 : GM, 매수가 : 26.046976
매도일 : 2011-05-02 00:00:00, 종목코드 : GM, 매도가 : 25.43829, 수익률 : 0.9766312219890707
매수일 : 2011-05-02 00:00:00, 종목코드 : USM, 매수가 : 41.984829
매수일 : 2011-06-01 00:00:00, 종목코드 : SLV, 매수가 : 35.75
매도일 : 2011-06-01 00:00:00, 종목코드 : USM, 매도가 : 41.847595, 수익률 : 0.996731343123965
매도일 : 2011-08-01 00:00:00, 종목코드 : SLV, 매도가 : 38.290001, 수익률 : 1.071048979020979
매수일 : 2011-08-01 00:00:00, 종목코드 : USM, 매수가 : 37.507591
매수일 : 2011-09-01 00:00:00, 종목코드 : GM, 매수가 : 18.205217
매도일 : 2011-09-01 00:00:00, 종목코드 : USM, 매도가 : 36.735653, 수익률 : 0.9794191527789669
매도일 : 2011-10-03 00:00:00, 종목코드 : GM, 매도가 : 15.596567, 수익률 : 0.8567086566449605
매수일 : 2011-10-03 00:00:00, 종목코드 : SLV, 매수가 : 29.49
매수일 : 2011-11-01 00:00:00, 종목코드 : BND, 매수가 : 69.135567
매도일 : 2011-11-01 00:00:00, 종목코드 : SLV, 매도가 : 32.330002, 수익률 : 1.0963038996269923
매수일 : 2011-12-01 00:00:00, 종목코드 : AMZN, 매수가 : 197.130005
매도일 : 2011-12-01 00:00:00, 종목코드 : BND, 매도가 : 68.562042, 수익률 : 0.9917043422815931
매도일 : 2012-01-03 00:00:00, 종목코드 : AMZN, 매도가 : 179.029999, 수익률 : 0.9081823895859993
매수일 : 2012-01-03 00:00:00, 종목코드 : SLV, 매수가 : 28.83
매수일 : 2012-02-01 00:00:00, 종목코드 : BND, 매수가 : 69.762512
매도일 : 2012-02-01 00:00:00, 종목코드 : SLV, 매도가 : 32.77, 수익률 : 1.136663198057579
매도일 : 2012-03-01 00:00:00, 종목코드 : BND, 매도가 : 69.749718, 수익률 : 0.9998166063744952
매수일 : 2012-03-01 00:00:00, 종목코드 : USM, 매수가 : 37.173084
매수일 : 2012-04-02 00:00:00, 종목코드 : GDX, 매수가 : 47.888508
매도일 : 2012-04-02 00:00:00, 종목코드 : USM, 매도가 : 34.943043, 수익률 : 0.9400092550835976
매도일 : 2012-05-01 00:00:00, 종목코드 : GDX, 매도가 : 44.13459, 수익률 : 0.921611297641597
매수일 : 2012-05-01 00:00:00, 종목코드 : GM, 매수가 : 18.426558
매도일 : 2012-06-01 00:00:00, 종목코드 : GM, 매도가 : 17.398905, 수익률 : 0.9442297905012971
매수일 : 2012-06-01 00:00:00, 종목코드 : SLV, 매수가 : 27.620001
매수일 : 2012-07-02 00:00:00, 종목코드 : GM, 매수가 : 15.470085
매도일 : 2012-07-02 00:00:00, 종목코드 : SLV, 매도가 : 26.73, 수익률 : 0.9677769381688293
매수일 : 2012-08-01 00:00:00, 종목코드 : GDX, 매수가 : 40.152596
매도일 : 2012-08-01 00:00:00, 종목코드 : GM, 매도가 : 15.541235, 수익률 : 1.0045991990347825
매도일 : 2012-09-04 00:00:00, 종목코드 : GDX, 매도가 : 45.398571, 수익률 : 1.1306509546730177
매수일 : 2012-09-04 00:00:00, 종목코드 : USM, 매수가 : 32.481419
매수일 : 2012-10-01 00:00:00, 종목코드 : MSFT, 매수가 : 24.975866
매도일 : 2012-10-01 00:00:00, 종목코드 : USM, 매도가 : 33.373436, 수익률 : 1.0274623777982113
매수일 : 2012-11-01 00:00:00, 종목코드 : AAPL, 매수가 : 74.975708
매도일 : 2012-11-01 00:00:00, 종목코드 : MSFT, 매도가 : 25.00128, 수익률 : 1.0010175422946297
매도일 : 2012-12-03 00:00:00, 종목코드 : AAPL, 매도가 : 74.011398, 수익률 : 0.9871383675363226
매수일 : 2012-12-03 00:00:00, 종목코드 : MSFT, 매수가 : 22.568209
매도일 : 2013-01-02 00:00:00, 종목코드 : MSFT, 매도가 : 23.584339, 수익률 : 1.0450248400305049
매수일 : 2013-01-02 00:00:00, 종목코드 : SLV, 매수가 : 29.92
매수일 : 2013-02-01 00:00:00, 종목코드 : AAPL, 매수가 : 57.273327
매도일 : 2013-02-01 00:00:00, 종목코드 : SLV, 매도가 : 30.780001, 수익률 : 1.0287433489304811
매도일 : 2013-03-01 00:00:00, 종목코드 : AAPL, 매도가 : 54.667191, 수익률 : 0.9544965145817355
매수일 : 2013-03-01 00:00:00, 종목코드 : GDX, 매수가 : 35.63213
매도일 : 2013-04-01 00:00:00, 종목코드 : GDX, 매도가 : 35.958584, 수익률 : 1.009161787409285
매수일 : 2013-04-01 00:00:00, 종목코드 : USM, 매수가 : 31.169125
매수일 : 2013-05-01 00:00:00, 종목코드 : GDX, 매수가 : 28.469217
매도일 : 2013-05-01 00:00:00, 종목코드 : USM, 매도가 : 32.738731, 수익률 : 1.050357717773598
매도일 : 2013-06-03 00:00:00, 종목코드 : GDX, 매도가 : 29.150942, 수익률 : 1.023946039682089
매수일 : 2013-06-03 00:00:00, 종목코드 : SLV, 매수가 : 21.98
매수일 : 2013-07-01 00:00:00, 종목코드 : GDX, 매수가 : 23.898779
매도일 : 2013-07-01 00:00:00, 종목코드 : SLV, 매도가 : 18.93, 수익률 : 0.8612374886260237
매도일 : 2013-08-01 00:00:00, 종목코드 : GDX, 매도가 : 25.127806, 수익률 : 1.0514263511119124
매수일 : 2013-08-01 00:00:00, 종목코드 : MSFT, 매수가 : 27.457666
매수일 : 2013-09-03 00:00:00, 종목코드 : AMZN, 매수가 : 288.799988
매도일 : 2013-09-03 00:00:00, 종목코드 : MSFT, 매도가 : 27.834503, 수익률 : 1.0137242910595534
매도일 : 2013-10-01 00:00:00, 종목코드 : AMZN, 매도가 : 320.950012, 수익률 : 1.1113228024095347
매수일 : 2013-10-01 00:00:00, 종목코드 : GDX, 매수가 : 23.437893
매수일 : 2013-11-01 00:00:00, 종목코드 : BND, 매수가 : 70.252045
매도일 : 2013-11-01 00:00:00, 종목코드 : GDX, 매도가 : 23.121037, 수익률 : 0.9864810373526325
매도일 : 2013-12-02 00:00:00, 종목코드 : BND, 매도가 : 69.969879, 수익률 : 0.9959835190562781
매수일 : 2013-12-02 00:00:00, 종목코드 : SLV, 매수가 : 18.459999
매도일 : 2014-01-02 00:00:00, 종목코드 : SLV, 매도가 : 19.23, 수익률 : 1.0417118657482052
매수일 : 2014-01-02 00:00:00, 종목코드 : USM, 매수가 : 41.189999
매수일 : 2014-02-03 00:00:00, 종목코드 : GM, 매수가 : 27.865122
매도일 : 2014-02-03 00:00:00, 종목코드 : USM, 매도가 : 43.099998, 수익률 : 1.0463704551194575
매도일 : 2014-03-03 00:00:00, 종목코드 : GM, 매도가 : 28.624008, 수익률 : 1.0272342608081888
매수일 : 2014-03-03 00:00:00, 종목코드 : USM, 매수가 : 39.5
매수일 : 2014-04-01 00:00:00, 종목코드 : GDX, 매수가 : 22.960176
매도일 : 2014-04-01 00:00:00, 종목코드 : USM, 매도가 : 41.220001, 수익률 : 1.0435443291139241
매수일 : 2014-05-01 00:00:00, 종목코드 : AMZN, 매수가 : 307.890015
매도일 : 2014-05-01 00:00:00, 종목코드 : GDX, 매도가 : 23.057096, 수익률 : 1.0042212219976014
매도일 : 2014-06-02 00:00:00, 종목코드 : AMZN, 매도가 : 308.839996, 수익률 : 1.0030854556943003
매수일 : 2014-06-02 00:00:00, 종목코드 : GDX, 매수가 : 21.603308
매도일 : 2014-07-01 00:00:00, 종목코드 : GDX, 매도가 : 25.43162, 수익률 : 1.177209527355718
매수일 : 2014-07-01 00:00:00, 종목코드 : USM, 매수가 : 40.23
매수일 : 2014-08-01 00:00:00, 종목코드 : GM, 매수가 : 26.891438
매도일 : 2014-08-01 00:00:00, 종목코드 : USM, 매도가 : 37.490002, 수익률 : 0.9318916728809347
매도일 : 2014-09-02 00:00:00, 종목코드 : GM, 매도가 : 27.985111, 수익률 : 1.0406699336792624
매수일 : 2014-09-02 00:00:00, 종목코드 : SLV, 매수가 : 18.41
매수일 : 2014-10-01 00:00:00, 종목코드 : GDX, 매수가 : 20.740725
매도일 : 2014-10-01 00:00:00, 종목코드 : SLV, 매도가 : 16.48, 수익률 : 0.8951656708310701
매도일 : 2014-12-01 00:00:00, 종목코드 : GDX, 매도가 : 19.112482, 수익률 : 0.9214953672063054
매수일 : 2014-12-01 00:00:00, 종목코드 : SLV, 매수가 : 15.78
매수일 : 2015-01-02 00:00:00, 종목코드 : GDX, 매수가 : 18.477167
매도일 : 2015-01-02 00:00:00, 종목코드 : SLV, 매도가 : 15.11, 수익률 : 0.9575411913814955
매도일 : 2015-02-02 00:00:00, 종목코드 : GDX, 매도가 : 21.90139, 수익률 : 1.1853218623829074
매수일 : 2015-02-02 00:00:00, 종목코드 : MSFT, 매수가 : 37.309399
매수일 : 2015-03-02 00:00:00, 종목코드 : GDX, 매수가 : 20.252691
매도일 : 2015-03-02 00:00:00, 종목코드 : MSFT, 매도가 : 39.941555, 수익률 : 1.0705494076707052
매도일 : 2015-05-01 00:00:00, 종목코드 : GDX, 매도가 : 19.774666, 수익률 : 0.9763969637417567
매수일 : 2015-05-01 00:00:00, 종목코드 : SLV, 매수가 : 15.47
매수일 : 2015-06-01 00:00:00, 종목코드 : GDX, 매수가 : 19.013725
매도일 : 2015-06-01 00:00:00, 종목코드 : SLV, 매도가 : 16.0, 수익률 : 1.0342598577892694
매도일 : 2015-09-01 00:00:00, 종목코드 : GDX, 매도가 : 13.335948, 수익률 : 0.701385341378399
매수일 : 2015-09-01 00:00:00, 종목코드 : GM, 매수가 : 23.877439
매수일 : 2015-10-01 00:00:00, 종목코드 : GLD, 매수가 : 106.730003
매도일 : 2015-10-01 00:00:00, 종목코드 : GM, 매도가 : 25.88447, 수익률 : 1.0840555387870534
매수일 : 2015-11-02 00:00:00, 종목코드 : BND, 매수가 : 73.907562
매도일 : 2015-11-02 00:00:00, 종목코드 : GLD, 매도가 : 108.589996, 수익률 : 1.0174270865522228
매도일 : 2015-12-01 00:00:00, 종목코드 : BND, 매도가 : 74.04142, 수익률 : 1.001811154317335
매수일 : 2015-12-01 00:00:00, 종목코드 : SLV, 매수가 : 13.51
매수일 : 2016-01-04 00:00:00, 종목코드 : AAPL, 매수가 : 99.117409
매도일 : 2016-01-04 00:00:00, 종목코드 : SLV, 매도가 : 13.19, 수익률 : 0.9763138415988156
매도일 : 2016-02-01 00:00:00, 종목코드 : AAPL, 매도가 : 90.725128, 수익률 : 0.9153298993116336
매수일 : 2016-02-01 00:00:00, 종목코드 : GM, 매수가 : 25.679497
매도일 : 2016-03-01 00:00:00, 종목코드 : GM, 매도가 : 25.59421, 수익률 : 0.996678790086893
매수일 : 2016-03-01 00:00:00, 종목코드 : MSFT, 매수가 : 49.166725
매수일 : 2016-04-01 00:00:00, 종목코드 : GLD, 매수가 : 116.93
매도일 : 2016-04-01 00:00:00, 종목코드 : MSFT, 매도가 : 51.962627, 수익률 : 1.0568657359220082
매수일 : 2016-05-02 00:00:00, 종목코드 : AAPL, 매수가 : 88.578232
매도일 : 2016-05-02 00:00:00, 종목코드 : GLD, 매도가 : 123.239998, 수익률 : 1.0539638929273925
매도일 : 2016-06-01 00:00:00, 종목코드 : AAPL, 매도가 : 93.704742, 수익률 : 1.0578755060272595
매수일 : 2016-06-01 00:00:00, 종목코드 : USM, 매수가 : 37.18
매수일 : 2016-07-01 00:00:00, 종목코드 : GM, 매수가 : 25.265614
매도일 : 2016-07-01 00:00:00, 종목코드 : USM, 매도가 : 39.48, 수익률 : 1.0618612157073695
매수일 : 2016-08-01 00:00:00, 종목코드 : BND, 매수가 : 77.703514
매도일 : 2016-08-01 00:00:00, 종목코드 : GM, 매도가 : 27.373268, 수익률 : 1.083419860684961
매도일 : 2016-09-01 00:00:00, 종목코드 : BND, 매도가 : 77.810661, 수익률 : 1.0013789209069746
매수일 : 2016-09-01 00:00:00, 종목코드 : GDX, 매수가 : 25.995451
매도일 : 2016-10-03 00:00:00, 종목코드 : GDX, 매도가 : 25.542843, 수익률 : 0.9825889537365596
매수일 : 2016-10-03 00:00:00, 종목코드 : USM, 매수가 : 36.299999
매수일 : 2016-11-01 00:00:00, 종목코드 : AMZN, 매수가 : 785.409973
매도일 : 2016-11-01 00:00:00, 종목코드 : USM, 매도가 : 34.68, 수익률 : 0.9553719271452321
매도일 : 2016-12-01 00:00:00, 종목코드 : AMZN, 매도가 : 743.650024, 수익률 : 0.9468303810295519
매수일 : 2016-12-01 00:00:00, 종목코드 : GDX, 매수가 : 20.328011
매도일 : 2017-01-03 00:00:00, 종목코드 : GDX, 매도가 : 21.472231, 수익률 : 1.0562878483290865
매수일 : 2017-01-03 00:00:00, 종목코드 : SLV, 매수가 : 15.44
매도일 : 2017-02-01 00:00:00, 종목코드 : SLV, 매도가 : 16.610001, 수익률 : 1.0757772668393784
매수일 : 2017-02-01 00:00:00, 종목코드 : USM, 매수가 : 42.669998
매수일 : 2017-04-03 00:00:00, 종목코드 : GM, 매수가 : 30.881802
매도일 : 2017-04-03 00:00:00, 종목코드 : USM, 매도가 : 36.919998, 수익률 : 0.8652448964258213
매도일 : 2017-05-01 00:00:00, 종목코드 : GM, 매도가 : 30.908916, 수익률 : 1.0008779928062488
매수일 : 2017-05-01 00:00:00, 종목코드 : SLV, 매수가 : 15.99
매수일 : 2017-06-01 00:00:00, 종목코드 : GM, 매수가 : 31.116781
매도일 : 2017-06-01 00:00:00, 종목코드 : SLV, 매도가 : 16.379999, 수익률 : 1.0243901813633522
매수일 : 2017-07-03 00:00:00, 종목코드 : AAPL, 매수가 : 139.184799
매도일 : 2017-07-03 00:00:00, 종목코드 : GM, 매도가 : 32.505836, 수익률 : 1.0446400609368947
매도일 : 2017-08-01 00:00:00, 종목코드 : AAPL, 매도가 : 145.537842, 수익률 : 1.0456446612391919
매수일 : 2017-08-01 00:00:00, 종목코드 : USM, 매수가 : 38.470001
매수일 : 2017-09-01 00:00:00, 종목코드 : AMZN, 매수가 : 978.25
매도일 : 2017-09-01 00:00:00, 종목코드 : USM, 매도가 : 39.490002, 수익률 : 1.0265141921883494
매도일 : 2017-10-02 00:00:00, 종목코드 : AMZN, 매도가 : 959.190002, 수익률 : 0.9805162300025556
매수일 : 2017-10-02 00:00:00, 종목코드 : USM, 매수가 : 35.310001
매수일 : 2017-11-01 00:00:00, 종목코드 : GDX, 매수가 : 22.182709
매도일 : 2017-11-01 00:00:00, 종목코드 : USM, 매도가 : 36.18, 수익률 : 1.024638883471003
매도일 : 2017-12-01 00:00:00, 종목코드 : GDX, 매도가 : 22.192577, 수익률 : 1.0004448509873163
매수일 : 2017-12-01 00:00:00, 종목코드 : SLV, 매수가 : 15.53
매수일 : 2018-01-02 00:00:00, 종목코드 : GM, 매수가 : 39.34103
매도일 : 2018-01-02 00:00:00, 종목코드 : SLV, 매도가 : 16.209999, 수익률 : 1.0437861558274308
매수일 : 2018-02-01 00:00:00, 종목코드 : AAPL, 매수가 : 163.961014
매도일 : 2018-02-01 00:00:00, 종목코드 : GM, 매도가 : 39.933971, 수익률 : 1.0150718219629735
매도일 : 2018-03-01 00:00:00, 종목코드 : AAPL, 매도가 : 171.713928, 수익률 : 1.047285106446097
매수일 : 2018-03-01 00:00:00, 종목코드 : GDX, 매수가 : 21.456474
매수일 : 2018-04-02 00:00:00, 종목코드 : AAPL, 매수가 : 163.550171
매도일 : 2018-04-02 00:00:00, 종목코드 : GDX, 매도가 : 22.112999, 수익률 : 1.0305979910771919
매도일 : 2018-05-01 00:00:00, 종목코드 : AAPL, 매도가 : 165.924728, 수익률 : 1.0145188292099063
매수일 : 2018-05-01 00:00:00, 종목코드 : GLD, 매수가 : 123.709999
매도일 : 2018-07-02 00:00:00, 종목코드 : GLD, 매도가 : 117.459999, 수익률 : 0.9494786189433241
매수일 : 2018-07-02 00:00:00, 종목코드 : GM, 매수가 : 37.882149
매도일 : 2018-08-01 00:00:00, 종목코드 : GM, 매도가 : 35.618809, 수익률 : 0.9402531255552582
매수일 : 2018-08-01 00:00:00, 종목코드 : USM, 매수가 : 34.439999
매수일 : 2018-09-04 00:00:00, 종목코드 : GDX, 매수가 : 17.925158
매도일 : 2018-09-04 00:00:00, 종목코드 : USM, 매도가 : 42.490002, 수익률 : 1.2337399312932615
매도일 : 2018-10-01 00:00:00, 종목코드 : GDX, 매도가 : 18.452368, 수익률 : 1.0294117351713161
매수일 : 2018-10-01 00:00:00, 종목코드 : GM, 매수가 : 33.156254
매수일 : 2018-11-01 00:00:00, 종목코드 : AMZN, 매수가 : 1665.530029
매도일 : 2018-11-01 00:00:00, 종목코드 : GM, 매도가 : 35.356976, 수익률 : 1.0663742653195987
매수일 : 2018-12-03 00:00:00, 종목코드 : AAPL, 매수가 : 183.324753
매도일 : 2018-12-03 00:00:00, 종목코드 : AMZN, 매도가 : 1772.359985, 수익률 : 1.0641417171350203
매도일 : 2019-01-02 00:00:00, 종목코드 : AAPL, 매도가 : 156.642365, 수익률 : 0.8544528899488004
매수일 : 2019-01-02 00:00:00, 종목코드 : AMZN, 매수가 : 1539.130005
매도일 : 2019-02-01 00:00:00, 종목코드 : AMZN, 매도가 : 1626.22998, 수익률 : 1.0565903950394366
매수일 : 2019-02-01 00:00:00, 종목코드 : BND, 매수가 : 78.729599
매도일 : 2019-03-01 00:00:00, 종목코드 : BND, 매도가 : 78.634193, 수익률 : 0.9987881813039592
매수일 : 2019-03-01 00:00:00, 종목코드 : USM, 매수가 : 47.09
매수일 : 2019-04-01 00:00:00, 종목코드 : GM, 매수가 : 37.359642
매도일 : 2019-04-01 00:00:00, 종목코드 : USM, 매도가 : 46.43, 수익률 : 0.9859842854109152
매수일 : 2019-05-01 00:00:00, 종목코드 : GDX, 매수가 : 20.52
매도일 : 2019-05-01 00:00:00, 종목코드 : GM, 매도가 : 38.339146, 수익률 : 1.0262182383867597
매수일 : 2019-06-03 00:00:00, 종목코드 : AAPL, 매수가 : 173.300003
매도일 : 2019-06-03 00:00:00, 종목코드 : GDX, 매도가 : 22.49, 수익률 : 1.0960038986354774

In [26]:
book4, acc_rtn = mmt.multi_acc_returns(book3, stock_code)

In [27]:
acc_rtn

1