## 상대모멘텀
- 10 개의 종목에서 전월의 흐름을 보고 어떤 주식에 투자할 것인가
1. 월초부터 월말까지의 수정종가를 이용하여 수익률 생성
2. 월별 수익률이 높은 n개
3. 해당 종목을 매수하고 있다가 해당 종목의 신호가 없어지면 매도하는 형식으로 수익률 생성

In [1]:
import pandas as pd
import numpy as np
import os
from glob import glob
import warnings

In [2]:
warnings.filterwarnings("ignore")

In [3]:
def create_1m_rtn(
    _df,
    _ticker,
    _start = "2010-01-01",
    _col = "Adj Close"  
):
    result = _df.copy()
    
    if "Date" in result.columns:
        result.set_index("Date", inplace = True)
    
    result.index = pd.to_datetime(result.index)
    
    result = result.loc[_start:,[_col]]
    
    result['STD-YM'] = result.index.strftime("%Y-%m")
    result['1m_rtn'] = 0
    result['CODE'] = _ticker
    
    ym_list = result['STD-YM'].unique()
    return result, ym_list

In [4]:
df = pd.read_csv("../../data/csv/AAPL.csv", index_col = "Date")
sample_aapl, ym_list = create_1m_rtn(df, 'AAPL')

sample_aapl , ym_list

(             Adj Close   STD-YM  1m_rtn  CODE
 Date
 2010-01-04   26.782711  2010-01       0  AAPL
 2010-01-05   26.829010  2010-01       0  AAPL
 2010-01-06   26.402260  2010-01       0  AAPL
 2010-01-07   26.353460  2010-01       0  AAPL
 2010-01-08   26.528664  2010-01       0  AAPL
 ...                ...      ...     ...   ...
 2019-06-18  198.449997  2019-06       0  AAPL
 2019-06-19  197.869995  2019-06       0  AAPL
 2019-06-20  199.460007  2019-06       0  AAPL
 2019-06-21  198.779999  2019-06       0  AAPL
 2019-06-24  199.169998  2019-06       0  AAPL

 [2384 rows x 4 columns],
 array(['2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
        '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
        '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
        '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
        '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
        '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
        '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
        '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
        '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
        '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
        '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
        '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
        '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
        '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
        '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
        '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
        '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
        '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
        '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06'],
       dtype=object))

In [5]:
# os.listdir('./data/csv)
files = glob('./data/csv/*.csv')

In [6]:
stock_df = pd.DataFrame()
month_last_df = pd.DataFrame()

for file in files:
    file_path, file_name = os.path.split(file)
    head , tail = file_name.split(".")
    
    read_df = pd.read_csv(file_path + "/" + file_name)
    price_df , ym_list = create_1m_rtn(read_df, head)
    
    stock_df = pd.concat([stock_df, price_df])
    
    for ym in ym_list:
        flag = price_df['STD-YM'] == ym
        # 구매가(월초 수정종가)
        buy = price_df.loc[flag].iloc[0,0]
        # 판매가(월말 수정종가)
        sell = price_df.loc[flag].iloc[-1,0]
        m_rtn = buy / sell
        
        price_df.loc[flag, '1m_rtn'] = m_rtn
        
        last_data = price_df.loc[flag , ['CODE', '1m_rtn']].tail(1)
         
        month_last_df = pd.concat([month_last_df, last_data])
        

month_last_df

            CODE    1m_rtn
Date
2010-01-29  AAPL  1.114287
2010-02-26  AAPL  0.951666
2010-03-31  AAPL  0.889319
2010-04-30  AAPL  0.903788
2010-05-28  AAPL  1.036865
...          ...       ...
2019-02-28   USM  1.222960
2019-03-29   USM  1.025702
2019-04-30   USM  0.965281
2019-05-31   USM  1.118485
2019-06-24   USM  0.919372

[1130 rows x 2 columns]

In [7]:
month_rtn_df = month_last_df.copy()

month_rtn_df.reset_index(inplace=True)

In [8]:
month_rtn_df

           Date  CODE    1m_rtn
0    2010-01-29  AAPL  1.114287
1    2010-02-26  AAPL  0.951666
2    2010-03-31  AAPL  0.889319
3    2010-04-30  AAPL  0.903788
4    2010-05-28  AAPL  1.036865
...         ...   ...       ...
1125 2019-02-28   USM  1.222960
1126 2019-03-29   USM  1.025702
1127 2019-04-30   USM  0.965281
1128 2019-05-31   USM  1.118485
1129 2019-06-24   USM  0.919372

[1130 rows x 3 columns]

### 피벗테이블

In [9]:
# 피벗테이블 재구조화

month_rtn_df = month_rtn_df.pivot_table(
    index = "Date",
    columns = "CODE",
    values = "1m_rtn"
)

In [10]:
month_rtn_df

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM
Date,,,,,,,,,,
2010-01-29,1.114287,1.067698,0.988443,1.171660,1.036240,NaN,1.098297,1.083648,1.055313,1.148209
2010-02-26,0.951666,1.003970,0.996106,0.978355,0.990131,NaN,0.986319,1.018046,0.984829,0.995086
2010-03-31,0.889319,0.917287,1.003283,1.005179,1.004406,NaN,0.990782,0.939907,0.952403,0.894877
2010-04-30,0.903788,0.961415,0.989098,0.918630,0.955791,NaN,0.954813,0.960570,0.991499,1.003327
2010-05-28,1.036865,1.095887,0.988317,1.000401,0.973503,NaN,1.190751,1.021631,1.100393,1.032041
...,...,...,...,...,...,...,...,...,...,...
2019-02-28,0.957603,0.991706,0.998121,1.014838,1.004113,0.982270,0.913531,1.019822,0.969068,1.222960
2019-03-29,0.921137,0.938779,0.977950,0.967886,0.998934,1.055028,0.954129,1.001410,0.988354,1.025702
2019-04-30,0.953007,0.941693,0.996295,1.051221,1.002723,0.969448,0.911332,1.009272,0.972145,0.965281
2019-05-31,1.197877,1.076870,0.982125,0.950440,0.976243,1.162268,1.030145,1.007326,1.060086,1.118485
2019-06-24,0.870111,0.887176,0.992282,0.874978,0.937140,0.905682,0.866585,0.960999,0.930531,0.919372

In [11]:
# rank를 %로 표시

month_rtn_df = month_rtn_df.rank(
    axis=1,
    ascending=False,
    method='max',
    pct = True,
)

In [12]:
# 상위 15%만 출력

month_rtn_df = month_rtn_df.where(
    month_rtn_df < 0.15, 0
)

In [13]:
# 0과 1로 만들기

month_rtn_df[month_rtn_df != 0] = 1
month_rtn_df

CODE        AAPL  AMZN  BND  GDX  GLD   GM  MSFT  SLV  SPY  USM
Date
2010-01-29   0.0   0.0  0.0  1.0  0.0  0.0   0.0  0.0  0.0  0.0
2010-02-26   0.0   0.0  0.0  0.0  0.0  0.0   0.0  1.0  0.0  0.0
2010-03-31   0.0   0.0  0.0  1.0  0.0  0.0   0.0  0.0  0.0  0.0
2010-04-30   0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  1.0
2010-05-28   0.0   0.0  0.0  0.0  0.0  0.0   1.0  0.0  0.0  0.0
...          ...   ...  ...  ...  ...  ...   ...  ...  ...  ...
2019-02-28   0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  1.0
2019-03-29   0.0   0.0  0.0  0.0  0.0  1.0   0.0  0.0  0.0  0.0
2019-04-30   0.0   0.0  0.0  1.0  0.0  0.0   0.0  0.0  0.0  0.0
2019-05-31   1.0   0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0
2019-06-24   0.0   0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0

[114 rows x 10 columns]

In [14]:
slg_dict = dict()

for date in month_rtn_df.index:
    ticker_list = list(
        month_rtn_df.loc[date, month_rtn_df.loc[date] >= 1].index
    )
    slg_dict[date] = ticker_list
    
stock_codes = list(month_rtn_df.columns)

In [15]:
stock_df.head(2)

            Adj Close   STD-YM  1m_rtn  CODE
Date
2010-01-04  26.782711  2010-01       0  AAPL
2010-01-05  26.829010  2010-01       0  AAPL

In [16]:
def create_trade_book(
    _df,
    _codes
):
    book = _df.copy()
    book['STD-YM'] = book.index.strftime('%Y-%m')
    for c in _codes:
        book[f"p_{c}"] = ''
        book[f"r_{c}"] = ''
        
    return book

In [17]:
stock_c_matrix = stock_df.reset_index().pivot_table(
    index = "Date",
    columns = "CODE",
    values = stock_df.columns[0]
)

In [18]:
stock_c_matrix

CODE,AAPL,AMZN,BND,GDX,GLD,GM,MSFT,SLV,SPY,USM
Date,,,,,,,,,,
2010-01-04,26.782711,133.899994,60.611969,44.908779,109.800003,NaN,24.525019,17.230000,93.675278,36.015179
2010-01-05,26.829010,134.690002,60.789135,45.341774,109.699997,NaN,24.532942,17.510000,93.923241,35.998024
2010-01-06,26.402260,132.250000,60.766037,46.443077,111.510002,NaN,24.382378,17.860001,93.989357,35.680672
2010-01-07,26.353460,130.000000,60.719822,46.217175,110.820000,NaN,24.128809,17.889999,94.386139,35.208931
2010-01-08,26.528664,133.520004,60.781410,46.913723,111.370003,NaN,24.295214,18.150000,94.700218,34.651424
...,...,...,...,...,...,...,...,...,...,...
2019-06-18,198.449997,1901.369995,82.397118,23.670000,127.120003,36.700001,135.160004,14.050000,290.984741,50.540001
2019-06-19,197.869995,1908.790039,82.676468,24.000000,127.889999,36.779999,135.690002,14.170000,291.641541,50.040001
2019-06-20,199.460007,1918.189941,82.806168,25.049999,131.110001,36.959999,136.949997,14.450000,294.427979,49.320000
2019-06-21,198.779999,1911.300049,82.576698,25.209999,131.979996,36.919998,136.970001,14.360000,294.000000,48.330002
2019-06-24,199.169998,1907.953857,82.726349,25.703501,133.501907,36.814999,138.289993,14.432900,293.640015,47.750000

In [19]:
book = create_trade_book(stock_c_matrix, stock_codes)

In [20]:
book.columns

Index(['AAPL', 'AMZN', 'BND', 'GDX', 'GLD', 'GM', 'MSFT', 'SLV', 'SPY', 'USM',
       'STD-YM', 'p_AAPL', 'r_AAPL', 'p_AMZN', 'r_AMZN', 'p_BND', 'r_BND',
       'p_GDX', 'r_GDX', 'p_GLD', 'r_GLD', 'p_GM', 'r_GM', 'p_MSFT', 'r_MSFT',
       'p_SLV', 'r_SLV', 'p_SPY', 'r_SPY', 'p_USM', 'r_USM'],
      dtype='object', name='CODE')

In [21]:
for date, values in slg_dict.items():

    for stock in values:
        book.loc[date, f"p_{stock}"] = f"ready_{stock}"
        
book['p_BND']

Date
2010-01-04
2010-01-05
2010-01-06
2010-01-07
2010-01-08
                ...
2019-06-18
2019-06-19
2019-06-20
2019-06-21
2019-06-24    ready_BND
Name: p_BND, Length: 2384, dtype: object

In [22]:
# 거래내역 추가
def trading(
    _book,
    _codes
):
    book = _book.copy()
    std_ym = ""
    buy_phase = False
    
    # 종목별
    for code in _codes:
        for idx in book.index:
            
            # 포지션
            if(book.loc[idx, f'p_{code}'] == "") & (book.shift().loc[idx, f'p_{code}'] == f"ready_{code}"):
                std_ym = book.loc[idx, 'STD-YM']
                buy_phase = True
            
            # 신호가 있으면 매수 상태 유지
            if(book.loc[idx, f"p_{code}"] == "") & (book.loc[idx, 'STD-YM'] == std_ym) & (buy_phase):
                book.loc[idx, f"p_{code}"] = f"buy_{code}"
                
            # 모두 만족할 때, std_ym, buy_phase 초기화
            if book.loc[idx, f"p_{code}"] == "":
                std_ym = ""
                buy_phase = False
                
    return book

In [23]:
book2 = trading(book, stock_codes)

In [24]:
book2['p_SPY'].value_counts()

p_SPY
    2384
Name: count, dtype: int64

In [25]:
# 수익률 계산 함수
def multi_returns(
    _book,
    s_code
):
    book = _book.copy()
    rtn = 1
    buy_dict = dict()
    sell_dict = dict()
    
    for i in book.index:
        for code in s_code:
            if(book.shift(2).loc[i, f"p_{code}"] == "") & (book.shift(1).loc[i, f"p_{code}"] == f"ready_{code}") & (book.loc[i, f"p_{code}"] == f"buy_{code}"):
                buy_dict[code] = book.loc[i, code]
                print(f"매수일 : {i}, 종목코드 : {code}, 매수가 : {buy_dict[code]}")
                
            elif (book.shift(1).loc[i, f"p_{code}"] == f"buy_{code}") & (book.loc[i, f"p_{code}"] == ""):
                sell_dict[code] = book.loc[i, code]
                # 수익률 계산
                rtn = sell_dict[code] / buy_dict[code]
                book.loc[i, f"r_{code}"] = rtn
                print(f"매도일 : {i}, 종목코드 : {code}, 매도가 : {sell_dict[code]}, 수익률 : {rtn}")
                
            if book.loc[i, f"p_{code}"] == "":
                buy_dict[code] = 0
                sell_dict[code] = 0
                    
    return book

In [26]:
book3 = multi_returns(book2, stock_codes)

매수일 : 2010-02-01 00:00:00, 종목코드 : GDX, 매수가 : 40.418842
매도일 : 2010-03-01 00:00:00, 종목코드 : GDX, 매도가 : 42.019035, 수익률 : 1.0395902732690858
매수일 : 2010-03-01 00:00:00, 종목코드 : SLV, 매수가 : 16.110001
매수일 : 2010-04-01 00:00:00, 종목코드 : GDX, 매수가 : 43.675705
매도일 : 2010-04-01 00:00:00, 종목코드 : SLV, 매도가 : 17.540001, 수익률 : 1.088764736886112
매도일 : 2010-05-03 00:00:00, 종목코드 : GDX, 매도가 : 46.951374, 수익률 : 1.074999796797785
매수일 : 2010-05-03 00:00:00, 종목코드 : USM, 매수가 : 36.744232
매수일 : 2010-06-01 00:00:00, 종목코드 : MSFT, 매수가 : 20.70437
매도일 : 2010-06-01 00:00:00, 종목코드 : USM, 매도가 : 35.003082, 수익률 : 0.9526143314139754
매수일 : 2010-07-01 00:00:00, 종목코드 : AMZN, 매수가 : 110.959999
매도일 : 2010-07-01 00:00:00, 종목코드 : MSFT, 매도가 : 18.521185, 수익률 : 0.8945543863445252
매도일 : 2010-08-02 00:00:00, 종목코드 : AMZN, 매도가 : 120.07, 수익률 : 1.0821016680074051
매수일 : 2010-08-02 00:00:00, 종목코드 : GDX, 매수가 : 45.228813
매도일 : 2010-09-01 00:00:00, 종목코드 : GDX, 매도가 : 49.746994, 수익률 : 1.0998960773080646
매수일 : 2010-09-01 00:00:00, 종목코드 : USM, 매수가 : 36.667038
매수일 : 2010-10-01 00:00:00, 종목코드 : BND, 매수가 : 65.143127
매도일 : 2010-10-01 00:00:00, 종목코드 : USM, 매도가 : 39.548939, 수익률 : 1.0785965040317682
매도일 : 2010-12-01 00:00:00, 종목코드 : BND, 매도가 : 64.560814, 수익률 : 0.9910610216792324
매수일 : 2010-12-01 00:00:00, 종목코드 : MSFT, 매수가 : 21.064047
매수일 : 2011-01-03 00:00:00, 종목코드 : BND, 매수가 : 64.215347
매도일 : 2011-01-03 00:00:00, 종목코드 : MSFT, 매도가 : 22.633337, 수익률 : 1.0745008782025602
매도일 : 2011-02-01 00:00:00, 종목코드 : BND, 매도가 : 64.227013, 수익률 : 1.0001816699674613
매수일 : 2011-02-01 00:00:00, 종목코드 : GDX, 매수가 : 52.536987
매도일 : 2011-03-01 00:00:00, 종목코드 : GDX, 매도가 : 57.616322, 수익률 : 1.096681124861614
매수일 : 2011-03-01 00:00:00, 종목코드 : GM, 매수가 : 26.046976
매도일 : 2011-05-02 00:00:00, 종목코드 : GM, 매도가 : 25.43829, 수익률 : 0.9766312219890707
매수일 : 2011-05-02 00:00:00, 종목코드 : USM, 매수가 : 41.984829
매수일 : 2011-06-01 00:00:00, 종목코드 : SLV, 매수가 : 35.75
매도일 : 2011-06-01 00:00:00, 종목코드 : USM, 매도가 : 41.847595, 수익률 : 0.996731343123965
매도일 : 2011-08-01 00:00:00, 종목코드 : SLV, 매도가 : 38.290001, 수익률 : 1.071048979020979
매수일 : 2011-08-01 00:00:00, 종목코드 : USM, 매수가 : 37.507591
매수일 : 2011-09-01 00:00:00, 종목코드 : GM, 매수가 : 18.205217
매도일 : 2011-09-01 00:00:00, 종목코드 : USM, 매도가 : 36.735653, 수익률 : 0.9794191527789669
매도일 : 2011-10-03 00:00:00, 종목코드 : GM, 매도가 : 15.596567, 수익률 : 0.8567086566449605
매수일 : 2011-10-03 00:00:00, 종목코드 : SLV, 매수가 : 29.49
매수일 : 2011-11-01 00:00:00, 종목코드 : BND, 매수가 : 69.135567
매도일 : 2011-11-01 00:00:00, 종목코드 : SLV, 매도가 : 32.330002, 수익률 : 1.0963038996269923
매수일 : 2011-12-01 00:00:00, 종목코드 : AMZN, 매수가 : 197.130005
매도일 : 2011-12-01 00:00:00, 종목코드 : BND, 매도가 : 68.562042, 수익률 : 0.9917043422815931
매도일 : 2012-01-03 00:00:00, 종목코드 : AMZN, 매도가 : 179.029999, 수익률 : 0.9081823895859993
매수일 : 2012-01-03 00:00:00, 종목코드 : SLV, 매수가 : 28.83
매수일 : 2012-02-01 00:00:00, 종목코드 : BND, 매수가 : 69.762512
매도일 : 2012-02-01 00:00:00, 종목코드 : SLV, 매도가 : 32.77, 수익률 : 1.136663198057579
매도일 : 2012-03-01 00:00:00, 종목코드 : BND, 매도가 : 69.749718, 수익률 : 0.9998166063744952
매수일 : 2012-03-01 00:00:00, 종목코드 : USM, 매수가 : 37.173084
매수일 : 2012-04-02 00:00:00, 종목코드 : GDX, 매수가 : 47.888508
매도일 : 2012-04-02 00:00:00, 종목코드 : USM, 매도가 : 34.943043, 수익률 : 0.9400092550835976
매도일 : 2012-05-01 00:00:00, 종목코드 : GDX, 매도가 : 44.13459, 수익률 : 0.921611297641597
매수일 : 2012-05-01 00:00:00, 종목코드 : GM, 매수가 : 18.426558
매도일 : 2012-06-01 00:00:00, 종목코드 : GM, 매도가 : 17.398905, 수익률 : 0.9442297905012971
매수일 : 2012-06-01 00:00:00, 종목코드 : SLV, 매수가 : 27.620001
매수일 : 2012-07-02 00:00:00, 종목코드 : GM, 매수가 : 15.470085
매도일 : 2012-07-02 00:00:00, 종목코드 : SLV, 매도가 : 26.73, 수익률 : 0.9677769381688293
매수일 : 2012-08-01 00:00:00, 종목코드 : GDX, 매수가 : 40.152596
매도일 : 2012-08-01 00:00:00, 종목코드 : GM, 매도가 : 15.541235, 수익률 : 1.0045991990347825
매도일 : 2012-09-04 00:00:00, 종목코드 : GDX, 매도가 : 45.398571, 수익률 : 1.1306509546730177
매수일 : 2012-09-04 00:00:00, 종목코드 : USM, 매수가 : 32.481419
매수일 : 2012-10-01 00:00:00, 종목코드 : MSFT, 매수가 : 24.975866
매도일 : 2012-10-01 00:00:00, 종목코드 : USM, 매도가 : 33.373436, 수익률 : 1.0274623777982113
매수일 : 2012-11-01 00:00:00, 종목코드 : AAPL, 매수가 : 74.975708
매도일 : 2012-11-01 00:00:00, 종목코드 : MSFT, 매도가 : 25.00128, 수익률 : 1.0010175422946297
매도일 : 2012-12-03 00:00:00, 종목코드 : AAPL, 매도가 : 74.011398, 수익률 : 0.9871383675363226
매수일 : 2012-12-03 00:00:00, 종목코드 : MSFT, 매수가 : 22.568209
매도일 : 2013-01-02 00:00:00, 종목코드 : MSFT, 매도가 : 23.584339, 수익률 : 1.0450248400305049
매수일 : 2013-01-02 00:00:00, 종목코드 : SLV, 매수가 : 29.92
매수일 : 2013-02-01 00:00:00, 종목코드 : AAPL, 매수가 : 57.273327
매도일 : 2013-02-01 00:00:00, 종목코드 : SLV, 매도가 : 30.780001, 수익률 : 1.0287433489304811
매도일 : 2013-03-01 00:00:00, 종목코드 : AAPL, 매도가 : 54.667191, 수익률 : 0.9544965145817355
매수일 : 2013-03-01 00:00:00, 종목코드 : GDX, 매수가 : 35.63213
매도일 : 2013-04-01 00:00:00, 종목코드 : GDX, 매도가 : 35.958584, 수익률 : 1.009161787409285
매수일 : 2013-04-01 00:00:00, 종목코드 : USM, 매수가 : 31.169125
매수일 : 2013-05-01 00:00:00, 종목코드 : GDX, 매수가 : 28.469217
매도일 : 2013-05-01 00:00:00, 종목코드 : USM, 매도가 : 32.738731, 수익률 : 1.050357717773598
매도일 : 2013-06-03 00:00:00, 종목코드 : GDX, 매도가 : 29.150942, 수익률 : 1.023946039682089
매수일 : 2013-06-03 00:00:00, 종목코드 : SLV, 매수가 : 21.98
매수일 : 2013-07-01 00:00:00, 종목코드 : GDX, 매수가 : 23.898779
매도일 : 2013-07-01 00:00:00, 종목코드 : SLV, 매도가 : 18.93, 수익률 : 0.8612374886260237
매도일 : 2013-08-01 00:00:00, 종목코드 : GDX, 매도가 : 25.127806, 수익률 : 1.0514263511119124
매수일 : 2013-08-01 00:00:00, 종목코드 : MSFT, 매수가 : 27.457666
매수일 : 2013-09-03 00:00:00, 종목코드 : AMZN, 매수가 : 288.799988
매도일 : 2013-09-03 00:00:00, 종목코드 : MSFT, 매도가 : 27.834503, 수익률 : 1.0137242910595534
매도일 : 2013-10-01 00:00:00, 종목코드 : AMZN, 매도가 : 320.950012, 수익률 : 1.1113228024095347
매수일 : 2013-10-01 00:00:00, 종목코드 : GDX, 매수가 : 23.437893
매수일 : 2013-11-01 00:00:00, 종목코드 : BND, 매수가 : 70.252045
매도일 : 2013-11-01 00:00:00, 종목코드 : GDX, 매도가 : 23.121037, 수익률 : 0.9864810373526325
매도일 : 2013-12-02 00:00:00, 종목코드 : BND, 매도가 : 69.969879, 수익률 : 0.9959835190562781
매수일 : 2013-12-02 00:00:00, 종목코드 : SLV, 매수가 : 18.459999
매도일 : 2014-01-02 00:00:00, 종목코드 : SLV, 매도가 : 19.23, 수익률 : 1.0417118657482052
매수일 : 2014-01-02 00:00:00, 종목코드 : USM, 매수가 : 41.189999
매수일 : 2014-02-03 00:00:00, 종목코드 : GM, 매수가 : 27.865122
매도일 : 2014-02-03 00:00:00, 종목코드 : USM, 매도가 : 43.099998, 수익률 : 1.0463704551194575
매도일 : 2014-03-03 00:00:00, 종목코드 : GM, 매도가 : 28.624008, 수익률 : 1.0272342608081888
매수일 : 2014-03-03 00:00:00, 종목코드 : USM, 매수가 : 39.5
매수일 : 2014-04-01 00:00:00, 종목코드 : GDX, 매수가 : 22.960176
매도일 : 2014-04-01 00:00:00, 종목코드 : USM, 매도가 : 41.220001, 수익률 : 1.0435443291139241
매수일 : 2014-05-01 00:00:00, 종목코드 : AMZN, 매수가 : 307.890015
매도일 : 2014-05-01 00:00:00, 종목코드 : GDX, 매도가 : 23.057096, 수익률 : 1.0042212219976014
매도일 : 2014-06-02 00:00:00, 종목코드 : AMZN, 매도가 : 308.839996, 수익률 : 1.0030854556943003
매수일 : 2014-06-02 00:00:00, 종목코드 : GDX, 매수가 : 21.603308
매도일 : 2014-07-01 00:00:00, 종목코드 : GDX, 매도가 : 25.43162, 수익률 : 1.177209527355718
매수일 : 2014-07-01 00:00:00, 종목코드 : USM, 매수가 : 40.23
매수일 : 2014-08-01 00:00:00, 종목코드 : GM, 매수가 : 26.891438
매도일 : 2014-08-01 00:00:00, 종목코드 : USM, 매도가 : 37.490002, 수익률 : 0.9318916728809347
매도일 : 2014-09-02 00:00:00, 종목코드 : GM, 매도가 : 27.985111, 수익률 : 1.0406699336792624
매수일 : 2014-09-02 00:00:00, 종목코드 : SLV, 매수가 : 18.41
매수일 : 2014-10-01 00:00:00, 종목코드 : GDX, 매수가 : 20.740725
매도일 : 2014-10-01 00:00:00, 종목코드 : SLV, 매도가 : 16.48, 수익률 : 0.8951656708310701
매도일 : 2014-12-01 00:00:00, 종목코드 : GDX, 매도가 : 19.112482, 수익률 : 0.9214953672063054
매수일 : 2014-12-01 00:00:00, 종목코드 : SLV, 매수가 : 15.78
매수일 : 2015-01-02 00:00:00, 종목코드 : GDX, 매수가 : 18.477167
매도일 : 2015-01-02 00:00:00, 종목코드 : SLV, 매도가 : 15.11, 수익률 : 0.9575411913814955
매도일 : 2015-02-02 00:00:00, 종목코드 : GDX, 매도가 : 21.90139, 수익률 : 1.1853218623829074
매수일 : 2015-02-02 00:00:00, 종목코드 : MSFT, 매수가 : 37.309399
매수일 : 2015-03-02 00:00:00, 종목코드 : GDX, 매수가 : 20.252691
매도일 : 2015-03-02 00:00:00, 종목코드 : MSFT, 매도가 : 39.941555, 수익률 : 1.0705494076707052
매도일 : 2015-05-01 00:00:00, 종목코드 : GDX, 매도가 : 19.774666, 수익률 : 0.9763969637417567
매수일 : 2015-05-01 00:00:00, 종목코드 : SLV, 매수가 : 15.47
매수일 : 2015-06-01 00:00:00, 종목코드 : GDX, 매수가 : 19.013725
매도일 : 2015-06-01 00:00:00, 종목코드 : SLV, 매도가 : 16.0, 수익률 : 1.0342598577892694
매도일 : 2015-09-01 00:00:00, 종목코드 : GDX, 매도가 : 13.335948, 수익률 : 0.701385341378399
매수일 : 2015-09-01 00:00:00, 종목코드 : GM, 매수가 : 23.877439
매수일 : 2015-10-01 00:00:00, 종목코드 : GLD, 매수가 : 106.730003
매도일 : 2015-10-01 00:00:00, 종목코드 : GM, 매도가 : 25.88447, 수익률 : 1.0840555387870534
매수일 : 2015-11-02 00:00:00, 종목코드 : BND, 매수가 : 73.907562
매도일 : 2015-11-02 00:00:00, 종목코드 : GLD, 매도가 : 108.589996, 수익률 : 1.0174270865522228
매도일 : 2015-12-01 00:00:00, 종목코드 : BND, 매도가 : 74.04142, 수익률 : 1.001811154317335
매수일 : 2015-12-01 00:00:00, 종목코드 : SLV, 매수가 : 13.51
매수일 : 2016-01-04 00:00:00, 종목코드 : AAPL, 매수가 : 99.117409
매도일 : 2016-01-04 00:00:00, 종목코드 : SLV, 매도가 : 13.19, 수익률 : 0.9763138415988156
매도일 : 2016-02-01 00:00:00, 종목코드 : AAPL, 매도가 : 90.725128, 수익률 : 0.9153298993116336
매수일 : 2016-02-01 00:00:00, 종목코드 : GM, 매수가 : 25.679497
매도일 : 2016-03-01 00:00:00, 종목코드 : GM, 매도가 : 25.59421, 수익률 : 0.996678790086893
매수일 : 2016-03-01 00:00:00, 종목코드 : MSFT, 매수가 : 49.166725
매수일 : 2016-04-01 00:00:00, 종목코드 : GLD, 매수가 : 116.93
매도일 : 2016-04-01 00:00:00, 종목코드 : MSFT, 매도가 : 51.962627, 수익률 : 1.0568657359220082
매수일 : 2016-05-02 00:00:00, 종목코드 : AAPL, 매수가 : 88.578232
매도일 : 2016-05-02 00:00:00, 종목코드 : GLD, 매도가 : 123.239998, 수익률 : 1.0539638929273925
매도일 : 2016-06-01 00:00:00, 종목코드 : AAPL, 매도가 : 93.704742, 수익률 : 1.0578755060272595
매수일 : 2016-06-01 00:00:00, 종목코드 : USM, 매수가 : 37.18
매수일 : 2016-07-01 00:00:00, 종목코드 : GM, 매수가 : 25.265614
매도일 : 2016-07-01 00:00:00, 종목코드 : USM, 매도가 : 39.48, 수익률 : 1.0618612157073695
매수일 : 2016-08-01 00:00:00, 종목코드 : BND, 매수가 : 77.703514
매도일 : 2016-08-01 00:00:00, 종목코드 : GM, 매도가 : 27.373268, 수익률 : 1.083419860684961
매도일 : 2016-09-01 00:00:00, 종목코드 : BND, 매도가 : 77.810661, 수익률 : 1.0013789209069746
매수일 : 2016-09-01 00:00:00, 종목코드 : GDX, 매수가 : 25.995451
매도일 : 2016-10-03 00:00:00, 종목코드 : GDX, 매도가 : 25.542843, 수익률 : 0.9825889537365596
매수일 : 2016-10-03 00:00:00, 종목코드 : USM, 매수가 : 36.299999
매수일 : 2016-11-01 00:00:00, 종목코드 : AMZN, 매수가 : 785.409973
매도일 : 2016-11-01 00:00:00, 종목코드 : USM, 매도가 : 34.68, 수익률 : 0.9553719271452321
매도일 : 2016-12-01 00:00:00, 종목코드 : AMZN, 매도가 : 743.650024, 수익률 : 0.9468303810295519
매수일 : 2016-12-01 00:00:00, 종목코드 : GDX, 매수가 : 20.328011
매도일 : 2017-01-03 00:00:00, 종목코드 : GDX, 매도가 : 21.472231, 수익률 : 1.0562878483290865
매수일 : 2017-01-03 00:00:00, 종목코드 : SLV, 매수가 : 15.44
매도일 : 2017-02-01 00:00:00, 종목코드 : SLV, 매도가 : 16.610001, 수익률 : 1.0757772668393784
매수일 : 2017-02-01 00:00:00, 종목코드 : USM, 매수가 : 42.669998
매수일 : 2017-04-03 00:00:00, 종목코드 : GM, 매수가 : 30.881802
매도일 : 2017-04-03 00:00:00, 종목코드 : USM, 매도가 : 36.919998, 수익률 : 0.8652448964258213
매도일 : 2017-05-01 00:00:00, 종목코드 : GM, 매도가 : 30.908916, 수익률 : 1.0008779928062488
매수일 : 2017-05-01 00:00:00, 종목코드 : SLV, 매수가 : 15.99
매수일 : 2017-06-01 00:00:00, 종목코드 : GM, 매수가 : 31.116781
매도일 : 2017-06-01 00:00:00, 종목코드 : SLV, 매도가 : 16.379999, 수익률 : 1.0243901813633522
매수일 : 2017-07-03 00:00:00, 종목코드 : AAPL, 매수가 : 139.184799
매도일 : 2017-07-03 00:00:00, 종목코드 : GM, 매도가 : 32.505836, 수익률 : 1.0446400609368947
매도일 : 2017-08-01 00:00:00, 종목코드 : AAPL, 매도가 : 145.537842, 수익률 : 1.0456446612391919
매수일 : 2017-08-01 00:00:00, 종목코드 : USM, 매수가 : 38.470001
매수일 : 2017-09-01 00:00:00, 종목코드 : AMZN, 매수가 : 978.25
매도일 : 2017-09-01 00:00:00, 종목코드 : USM, 매도가 : 39.490002, 수익률 : 1.0265141921883494
매도일 : 2017-10-02 00:00:00, 종목코드 : AMZN, 매도가 : 959.190002, 수익률 : 0.9805162300025556
매수일 : 2017-10-02 00:00:00, 종목코드 : USM, 매수가 : 35.310001
매수일 : 2017-11-01 00:00:00, 종목코드 : GDX, 매수가 : 22.182709
매도일 : 2017-11-01 00:00:00, 종목코드 : USM, 매도가 : 36.18, 수익률 : 1.024638883471003
매도일 : 2017-12-01 00:00:00, 종목코드 : GDX, 매도가 : 22.192577, 수익률 : 1.0004448509873163
매수일 : 2017-12-01 00:00:00, 종목코드 : SLV, 매수가 : 15.53
매수일 : 2018-01-02 00:00:00, 종목코드 : GM, 매수가 : 39.34103
매도일 : 2018-01-02 00:00:00, 종목코드 : SLV, 매도가 : 16.209999, 수익률 : 1.0437861558274308
매수일 : 2018-02-01 00:00:00, 종목코드 : AAPL, 매수가 : 163.961014
매도일 : 2018-02-01 00:00:00, 종목코드 : GM, 매도가 : 39.933971, 수익률 : 1.0150718219629735
매도일 : 2018-03-01 00:00:00, 종목코드 : AAPL, 매도가 : 171.713928, 수익률 : 1.047285106446097
매수일 : 2018-03-01 00:00:00, 종목코드 : GDX, 매수가 : 21.456474
매수일 : 2018-04-02 00:00:00, 종목코드 : AAPL, 매수가 : 163.550171
매도일 : 2018-04-02 00:00:00, 종목코드 : GDX, 매도가 : 22.112999, 수익률 : 1.0305979910771919
매도일 : 2018-05-01 00:00:00, 종목코드 : AAPL, 매도가 : 165.924728, 수익률 : 1.0145188292099063
매수일 : 2018-05-01 00:00:00, 종목코드 : GLD, 매수가 : 123.709999
매도일 : 2018-07-02 00:00:00, 종목코드 : GLD, 매도가 : 117.459999, 수익률 : 0.9494786189433241
매수일 : 2018-07-02 00:00:00, 종목코드 : GM, 매수가 : 37.882149
매도일 : 2018-08-01 00:00:00, 종목코드 : GM, 매도가 : 35.618809, 수익률 : 0.9402531255552582
매수일 : 2018-08-01 00:00:00, 종목코드 : USM, 매수가 : 34.439999
매수일 : 2018-09-04 00:00:00, 종목코드 : GDX, 매수가 : 17.925158
매도일 : 2018-09-04 00:00:00, 종목코드 : USM, 매도가 : 42.490002, 수익률 : 1.2337399312932615
매도일 : 2018-10-01 00:00:00, 종목코드 : GDX, 매도가 : 18.452368, 수익률 : 1.0294117351713161
매수일 : 2018-10-01 00:00:00, 종목코드 : GM, 매수가 : 33.156254
매수일 : 2018-11-01 00:00:00, 종목코드 : AMZN, 매수가 : 1665.530029
매도일 : 2018-11-01 00:00:00, 종목코드 : GM, 매도가 : 35.356976, 수익률 : 1.0663742653195987
매수일 : 2018-12-03 00:00:00, 종목코드 : AAPL, 매수가 : 183.324753
매도일 : 2018-12-03 00:00:00, 종목코드 : AMZN, 매도가 : 1772.359985, 수익률 : 1.0641417171350203
매도일 : 2019-01-02 00:00:00, 종목코드 : AAPL, 매도가 : 156.642365, 수익률 : 0.8544528899488004
매수일 : 2019-01-02 00:00:00, 종목코드 : AMZN, 매수가 : 1539.130005
매도일 : 2019-02-01 00:00:00, 종목코드 : AMZN, 매도가 : 1626.22998, 수익률 : 1.0565903950394366
매수일 : 2019-02-01 00:00:00, 종목코드 : BND, 매수가 : 78.729599
매도일 : 2019-03-01 00:00:00, 종목코드 : BND, 매도가 : 78.634193, 수익률 : 0.9987881813039592
매수일 : 2019-03-01 00:00:00, 종목코드 : USM, 매수가 : 47.09
매수일 : 2019-04-01 00:00:00, 종목코드 : GM, 매수가 : 37.359642
매도일 : 2019-04-01 00:00:00, 종목코드 : USM, 매도가 : 46.43, 수익률 : 0.9859842854109152
매수일 : 2019-05-01 00:00:00, 종목코드 : GDX, 매수가 : 20.52
매도일 : 2019-05-01 00:00:00, 종목코드 : GM, 매도가 : 38.339146, 수익률 : 1.0262182383867597
매수일 : 2019-06-03 00:00:00, 종목코드 : AAPL, 매수가 : 173.300003
매도일 : 2019-06-03 00:00:00, 종목코드 : GDX, 매도가 : 22.49, 수익률 : 1.0960038986354774

In [27]:
book3['p_SPY'].value_counts()

p_SPY
    2384
Name: count, dtype: int64

In [32]:
def multi_acc_returns(
    _book,
    s_code
):
    book = _book.copy()
    # 누적 수익률
    acc_rtn = 1
    for i in book.index:
        count = 0
        rtn = 0
        for code in s_code:
            if book.loc[i, f"r_{code}"]:
                count += 1
                rtn += book.loc[i, f"r_{code}"]
        if (rtn != 0) & (count != 0):
            acc_rtn *= (rtn / count)
            print(f"누적 매도일 : {i}, 매도 종목수 : {count}, 수익율 : {round(rtn / count, 2)}")
        
        book.loc[i, 'acc_rtn'] = acc_rtn

    return book, acc_rtn

In [33]:
multi_acc_returns(book3, stock_codes)

누적 매도일 : 2010-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.04
누적 매도일 : 2010-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.09
누적 매도일 : 2010-05-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.07
누적 매도일 : 2010-06-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.95
누적 매도일 : 2010-07-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.89
누적 매도일 : 2010-08-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.08
누적 매도일 : 2010-09-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.1
누적 매도일 : 2010-10-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.08
누적 매도일 : 2010-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.99
누적 매도일 : 2011-01-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.07
누적 매도일 : 2011-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2011-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.1
누적 매도일 : 2011-05-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.98
누적 매도일 : 2011-06-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2011-08-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.07
누적 매도일 : 2011-09-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.98
누적 매도일 : 2011-10-03 00:00:00, 매도 종목수 : 1, 수익율 : 0.86
누적 매도일 : 2011-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.1
누적 매도일 : 2011-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.99
누적 매도일 : 2012-01-03 00:00:00, 매도 종목수 : 1, 수익율 : 0.91
누적 매도일 : 2012-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.14
누적 매도일 : 2012-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2012-04-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.94
누적 매도일 : 2012-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.92
누적 매도일 : 2012-06-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.94
누적 매도일 : 2012-07-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.97
누적 매도일 : 2012-08-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2012-09-04 00:00:00, 매도 종목수 : 1, 수익율 : 1.13
누적 매도일 : 2012-10-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2012-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2012-12-03 00:00:00, 매도 종목수 : 1, 수익율 : 0.99
누적 매도일 : 2013-01-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.05
누적 매도일 : 2013-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2013-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.95
누적 매도일 : 2013-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.01
누적 매도일 : 2013-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.05
누적 매도일 : 2013-06-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.02
누적 매도일 : 2013-07-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.86
누적 매도일 : 2013-08-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.05
누적 매도일 : 2013-09-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.01
누적 매도일 : 2013-10-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.11
누적 매도일 : 2013-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.99
누적 매도일 : 2013-12-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2014-01-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.04
누적 매도일 : 2014-02-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.05
누적 매도일 : 2014-03-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2014-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.04
누적 매도일 : 2014-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2014-06-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2014-07-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.18
누적 매도일 : 2014-08-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.93
누적 매도일 : 2014-09-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.04
누적 매도일 : 2014-10-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.9
누적 매도일 : 2014-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.92
누적 매도일 : 2015-01-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.96
누적 매도일 : 2015-02-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.19
누적 매도일 : 2015-03-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.07
누적 매도일 : 2015-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.98
누적 매도일 : 2015-06-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2015-09-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.7
누적 매도일 : 2015-10-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.08
누적 매도일 : 2015-11-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.02
누적 매도일 : 2015-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2016-01-04 00:00:00, 매도 종목수 : 1, 수익율 : 0.98
누적 매도일 : 2016-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.92
누적 매도일 : 2016-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2016-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.06
누적 매도일 : 2016-05-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.05
누적 매도일 : 2016-06-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.06
누적 매도일 : 2016-07-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.06
누적 매도일 : 2016-08-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.08
누적 매도일 : 2016-09-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2016-10-03 00:00:00, 매도 종목수 : 1, 수익율 : 0.98
누적 매도일 : 2016-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.96
누적 매도일 : 2016-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.95
누적 매도일 : 2017-01-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.06
누적 매도일 : 2017-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.08
누적 매도일 : 2017-04-03 00:00:00, 매도 종목수 : 1, 수익율 : 0.87
누적 매도일 : 2017-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2017-06-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.02
누적 매도일 : 2017-07-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.04
누적 매도일 : 2017-08-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.05
누적 매도일 : 2017-09-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2017-10-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.98
누적 매도일 : 2017-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.02
누적 매도일 : 2017-12-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2018-01-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.04
누적 매도일 : 2018-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.02
누적 매도일 : 2018-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.05
누적 매도일 : 2018-04-02 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2018-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.01
누적 매도일 : 2018-07-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.95
누적 매도일 : 2018-08-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.94
누적 매도일 : 2018-09-04 00:00:00, 매도 종목수 : 1, 수익율 : 1.23
누적 매도일 : 2018-10-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2018-11-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.07
누적 매도일 : 2018-12-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.06
누적 매도일 : 2019-01-02 00:00:00, 매도 종목수 : 1, 수익율 : 0.85
누적 매도일 : 2019-02-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.06
누적 매도일 : 2019-03-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.0
누적 매도일 : 2019-04-01 00:00:00, 매도 종목수 : 1, 수익율 : 0.99
누적 매도일 : 2019-05-01 00:00:00, 매도 종목수 : 1, 수익율 : 1.03
누적 매도일 : 2019-06-03 00:00:00, 매도 종목수 : 1, 수익율 : 1.1

(CODE              AAPL         AMZN        BND        GDX         GLD  \
 Date
 2010-01-04   26.782711   133.899994  60.611969  44.908779  109.800003
 2010-01-05   26.829010   134.690002  60.789135  45.341774  109.699997
 2010-01-06   26.402260   132.250000  60.766037  46.443077  111.510002
 2010-01-07   26.353460   130.000000  60.719822  46.217175  110.820000
 2010-01-08   26.528664   133.520004  60.781410  46.913723  111.370003
 ...                ...          ...        ...        ...         ...
 2019-06-18  198.449997  1901.369995  82.397118  23.670000  127.120003
 2019-06-19  197.869995  1908.790039  82.676468  24.000000  127.889999
 2019-06-20  199.460007  1918.189941  82.806168  25.049999  131.110001
 2019-06-21  198.779999  1911.300049  82.576698  25.209999  131.979996
 2019-06-24  199.169998  1907.953857  82.726349  25.703501  133.501907

 CODE               GM        MSFT        SLV         SPY        USM  ... r_GM  \
 Date                                                                 ...
 2010-01-04        NaN   24.525019  17.230000   93.675278  36.015179  ...
 2010-01-05        NaN   24.532942  17.510000   93.923241  35.998024  ...
 2010-01-06        NaN   24.382378  17.860001   93.989357  35.680672  ...
 2010-01-07        NaN   24.128809  17.889999   94.386139  35.208931  ...
 2010-01-08        NaN   24.295214  18.150000   94.700218  34.651424  ...
 ...               ...         ...        ...         ...        ...  ...  ...
 2019-06-18  36.700001  135.160004  14.050000  290.984741  50.540001  ...
 2019-06-19  36.779999  135.690002  14.170000  291.641541  50.040001  ...
 2019-06-20  36.959999  136.949997  14.450000  294.427979  49.320000  ...
 2019-06-21  36.919998  136.970001  14.360000  294.000000  48.330002  ...
 2019-06-24  36.814999  138.289993  14.432900  293.640015  47.750000  ...

 CODE       p_MSFT r_MSFT p_SLV r_SLV p_SPY r_SPY p_USM r_USM   acc_rtn
 Date
 2010-01-04                                                    1.000000
 2010-01-05                                                    1.000000
 2010-01-06                                                    1.000000
 2010-01-07                                                    1.000000
 2010-01-08                                                    1.000000
 ...           ...    ...   ...   ...   ...   ...   ...   ...       ...
 2019-06-18                                                    2.988081
 2019-06-19                                                    2.988081
 2019-06-20                                                    2.988081
 2019-06-21                                                    2.988081
 2019-06-24                                                    2.988081

 [2384 rows x 32 columns],
 2.98808087818091)